<div class="contentFrecuentes">
    <h1>REQUERIMIENTOS FRECUENTES</h1>
    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                RUTA DE ATENCIÓN HUMANITARIA (PRIMER AÑO) 
            </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div class="contenidoRequerimientos">
           <p>A través de la ruta de Primer Año se atienden a los hogares víctimas de desplazamiento forzado a quienes se les genera una inclusión en firme en el Registro Único de Víctimas (RUV) y que cumplen con la regla de temporalidad, la cual consiste en que entre la fecha de desplazamiento y la fecha de la declaración no haya transcurrido más de 12 meses, así como entre la declaración y la fecha de inclusión no haya transcurrido más de 12 meses. </p> 
            <p>
                A los hogares que cumplan con los criterios de Primer Año se les presume carencias graves y se les asignan tres giros bancarios para otorgar la atención humanitaria, que se disponen en el transcurso de un año. Con el fin de realizar una atención oportuna a estas víctimas, la herramienta informática automáticamente genera la solicitud de atención humanitaria una vez se efectúa su inclusión en el RUV, de modo que la fecha de inclusión en el RUV y la fecha de solicitud de atención humanitaria es la misma. 
            </p>
            <div class="imageWrapp">
                <img src="assets/images/rutaHuma.png" alt="">
            </div>
        </div>

    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            ALCANCE DE LA UNIDAD PARA LAS VÍCTIMAS EN PREVENCIÓN Y ATENCIÓN A EMERGENCIAS
        </mat-panel-title>
        </mat-expansion-panel-header>
    
          <div class="contenidoRequerimientos">
            <p>
                Las acciones de la Unidad para las Víctimas en el componente de prevención y atención de emergencias se enmarcan en la prevención urgente, que de acuerdo con el artículo 2.2.7.7.1. del Decreto 1084 de 2015, esta “tiene lugar en el momento en el que, ante la inminencia de una violación, se adoptan acciones, planes y programas orientados a desactivar las amenazas contra los mencionados derechos o para mitigar los efectos de su ocurrencia”. 
            </p>
            <p>
                En este marco, el Decreto 4802 de 2011, en los artículos 18 y 19, estableció para la Subdirección de Prevención y Atención de Emergencias las siguientes acciones: i) la identificación de riesgos en el marco del conflicto y la violencia asociada a este; ii) el fortalecimiento de las capacidades de las entidades territoriales para activar la respuesta humanitaria, con labores de asistencia técnica en planes de contingencia y ayuda humanitaria inmediata, con el respectivo alistamiento; iii) la coordinación de acciones preventivas y de atención, en espacios nacionales y territoriales para la evaluación de riesgos en protección, las Alertas Tempranas de la Defensoría del Pueblo y la atención de emergencias individuales y masivas; iv) la entrega en subsidiariedad de Ayuda Humanitaria Inmediata.
            </p>
         </div>
    </mat-expansion-panel>


</div>
