<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
     
        <div class="reqFrec">
          <strong>
            DIRECCIÓN DE <br/>
            GESTIÓN SOCIAL Y <br/>
            HUMANITARIA
          </strong>
          
        </div>
      <mat-nav-list>
       
        <a mat-list-item routerLink="/dgsh/general" routerLinkActive="active-list-item">General</a>
        
        <div class='titulo_sidenav'>SPAE</div>
        <mat-expansion-panel class='ExpanIndex' (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item routerLink="/dgsh/prevencion" routerLinkActive="active-list-item">Prevención</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expandLinks">
            <a mat-list-item routerLink="/dgsh/asistencias_tecnicas" routerLinkActive="active-list-item">Asistencias Técnicas</a>
            <a mat-list-item routerLink="/dgsh/sesiones_seguimiento" routerLinkActive="active-list-item">Sesiones de Seguimiento</a>
            <a mat-list-item routerLink="/dgsh/entidades_terr_apoyadas" routerLinkActive="active-list-item">Entidades Territoriales Apoyadas</a>
          </div>
        </mat-expansion-panel>
  
        <mat-expansion-panel class='ExpanIndex' (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item routerLink="/dgsh/atencion_inmediatez" routerLinkActive="active-list-item">Atención en la Inmediatez</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expandLinks">
            <a mat-list-item routerLink="/dgsh/ayuda_humanitaria" routerLinkActive="active-list-item">Ayuda Humanitaria</a>
          </div>
        </mat-expansion-panel>

        <div class='titulo_sidenav'>SAAH</div>
        <a mat-list-item routerLink="/dgsh/servicio_ciudadano" routerLinkActive="active-list-item">Servicio al Ciudadano</a>
        <!--
        <a mat-list-item routerLink="/dgsh/asistencia_humanitaria" routerLinkActive="active-list-item">Asistencia Humanitaria</a>
        -->
      
        <a class="itemRequerimientos" mat-list-item
        routerLink="/dgsh/requerimientos_frecuentes" routerLinkActive="active-list-item">
         <div class="textosRequerimientos">
           Requerimientos Frecuentes
         </div>
       </a>
     
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="TituloIndice">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
       
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet>
      </router-outlet>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  
