
<div class="contentTemas">
    <div class="cuadroTemas">

        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="Negrita">
                            ENTIDADES TERRITORIALES ASISTIDAS TÉCNICAMENTE
                       </li>
                        <p>
                            Información asociada a la intervención territorial que será realizada durante el año 2021. 
                        </p>
                        <li class="Negrita"> 
                            PLANES DE DESARROLLO TERRITORIAL CON INCLUSIÓN DE LA PPV
                        </li>
                        <p>
                            Resultados de las valoraciones realizadas por los profesionales SCNT.
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/jornadas_fortalecimiento">
                                ENTIDADES TERRITORIALES FORTALECIDAS EN CARACTERIZACIÓN DE OFERTA -ANUALIZACIÓN PAT
                            </a>
                        </li>
                        <p>
                            Información referente a las jornadas de asistencia técnica para los procesos de anualización del PAT las cuales serán realizadas durante el 2021.
                        </p>
                        <li class="Negrita"> 
                                PLANES DE ACCIÓN TERRITORIAL APROBADOS
                        </li>
                        <p>
                            Información que se encuentra siendo recopilada desde la herramienta SIGO, se tendrá información definitiva después del 11 de diciembre.
                        </p>
                        <li class="Negrita"> 
                                COMITÉS TERRITORIALES DE JUSTICIA TERRITORIAL CON SESIONES
                        </li>
                        <p>
                            Información que será recopilada desde la herramienta que será desarrollada por la RNI dentro de SIGO, actualmente dependemos de los tiempos de desarrollo de la herramienta para generar los reportes que serán incluidos dentro de las Cifras Estratégicas.
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/entidades_territoriales">
                            ENTIDADES TERRITORIALES CERTIFICADAS
                            </a>
                        </li>
                        <p>
                            Esta información se entregará finalizando cada una de las vigencias.
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/centros_regionales">
                                CENTROS REGIONALES EN FUNCIONAMIENTO Y EN CONSTRUCCIÓN
                            </a>
                        </li>
                        <p>
                            Información de estado de los centros regionales, la cantidad de centros y la inversión por entidad.
                        </p>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>

     <!--   <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
              <ul class="cuatroTemas">
                        <li class="Negrita">
                            ENTIDADES TERRITORIALES ASISTIDAS TÉCNICAMENTE
                       </li>
                        <p>
                            Información asociada a la intervención territorial que será realizada durante el año 2021. 
                        </p>
                        <li class="Negrita"> 
                            PLANES DE DESARROLLO TERRITORIAL CON INCLUSIÓN DE LA PPV
                        </li>
                        <p>
                            Resultados de las valoraciones realizadas por los profesionales SCNT.
                        </p>
                        <li class="Negrita"> 
                                ENTIDADES TERRITORIALES FORTALECIDAS EN CARACTERIZACIÓN DE OFERTA -ANUALIZACIÓN PAT
                        </li>
                        <p>
                            Información referente a las jornadas de asistencia técnica para los procesos de anualización del PAT las cuales serán realizadas durante el 2021.
                        </p>
                        <li class="Negrita"> 
                                PLANES DE ACCIÓN TERRITORIAL APROBADOS
                        </li>
                        <p>
                            Información que se encuentra siendo recopilada desde la herramienta SIGO, se tendrá información definitiva después del 11 de diciembre.
                        </p>
                        <li class="Negrita"> 
                                COMITÉS TERRITORIALES DE JUSTICIA TERRITORIAL CON SESIONES
                        </li>
                        <p>
                            Información que será recopilada desde la herramienta que será desarrollada por la RNI dentro de SIGO, actualmente dependemos de los tiempos de desarrollo de la herramienta para generar los reportes que serán incluidos dentro de las Cifras Estratégicas.
                        </p>
                        <li class="link"> 
                            <a>
                            ENTIDADES TERRITORIALES CERTIFICADAS
                            </a>
                        </li>
                        <p>
                            Esta información se entregará finalizando cada una de las vigencias.
                        </p>
                        <li class="link"> 
                            <a>
                                CENTROS REGIONALES EN FUNCIONAMIENTO Y EN CONSTRUCCIÓN
                            </a>
                        </li>
                        <p>
                            Información de estado de los centros regionales, la cantidad de centros y la inversión por entidad.
                        </p>
                    </ul>
            </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="" 
            frameborder="0"></iframe>
        </div>
    </div>
    -->
</div>

