<div class="contentFrecuentes">
    <div class="row">
        <div class="col-12">
            <h1 class="h1Descargar">
                OBSERVATORIO - ARCHIVOS DESCARGABLES
            </h1>
        </div>
    </div>
</div>

<div class="contentFrecuentes descargarCard">

    <div class="row rowDescargar">
        <div class="col-sm-3 desc-img">
            <a href="assets/documents/CIFRAS_ESTRATEGICAS_JUNIO.pdf" target="_blank" rel="noopener noreferrer">
                <img src="assets/images/pdf.svg" alt="logoPDF" class="logoPDF">
            </a>
        </div>
        <div class="col-sm-8 desc-titulo">
           <div class="tituloDocumento">
            <a href="assets/documents/CIFRAS_ESTRATEGICAS_JUNIO.pdf" target="_blank" rel="noopener noreferrer">
                CIFRAS ESTRATÉGICAS UNIDAD PARA LAS VÍCTIMAS - JUNIO 2021
            </a>
           </div>
        </div>
    </div>
    <div class="row rowDescargar">
        <div class="col-sm-3 desc-img">
            <a href="assets/documents/CIFRAS_ESTRATEGICAS_MARZO.pdf" target="_blank" rel="noopener noreferrer">
                <img src="assets/images/pdf.svg" alt="logoPDF" class="logoPDF">
            </a>
        </div>
        <div class="col-sm-8 desc-titulo">
           <div class="tituloDocumento">
            <a href="assets/documents/CIFRAS_ESTRATEGICAS_MARZO.pdf" target="_blank" rel="noopener noreferrer">
                CIFRAS ESTRATÉGICAS UNIDAD PARA LAS VÍCTIMAS - MARZO 2021
            </a>
           </div>
        </div>
    </div>
</div>