<div class="contentFrecuentes">
    <h1>REQUERIMIENTOS FRECUENTES</h1>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                MESAS DE PARTICIPACIÓN EFECTIVA DE VÍCTIMAS 
            </mat-panel-title>
          </mat-expansion-panel-header>
            
            <div class="contenidoRequerimientos">
            
                     <p>
                         Las Mesas de Víctimas, como desarrollo de la democracia representativa y participativa, hacen parte de los espacios que el Estado debe ofrecer y garantizar a la población víctimas para la incidencia en las políticas que los afectan.  

                     </p>
                     

                     <p>
                         Son también espacios institucionales de representación de la población afectada por el conflicto, para la interlocución con el Estado, en todos los niveles territoriales (municipal, departamental, distrital y nacional), cuyo fin es la incidencia en la construcción, ejecución y control de las políticas públicas para las víctimas. 
                     </p>

                     <p>
                         Las Mesas de Víctimas son espacios legales de representación de las víctimas y, como tal, parte fundamental del Sistema Nacional para la Atención y Reparación Integral a las Víctimas (SNARIV). Es importante aclarar que estas no son asambleas de víctimas o de sus organizaciones. A pesar de que sus integrantes son postulados por Organizaciones de Víctimas (OV), una vez estos son elegidos y forman parte de una mesa, representan a la totalidad de víctimas presentes en el municipio, el distrito, el departamento o la Nación.
                     </p>

                     <p>
                         Por ser espacios institucionales, las Mesas de Víctimas responden a la Constitución Nacional, como desarrollo de los principios de la democracia representativa y participativa, y a la tutela especial a poblaciones vulnerables; a la jurisprudencia constitucional, que desarrolla el derecho a la participación de la población víctima del conflicto armado, y se sostienen, además, en los postulados de la Ley 1448 y su Decreto reglamentario 1084 de 2015, y en la Resolución N.° 0388 de 2013 de la Unidad para las Víctimas, que adopta el Protocolo de Participación Efectiva de las Víctimas, así como en las demás normas y jurisprudencia complementaria.
                     </p>

                     <p>
                         Los alcaldes, gobernadores y las entidades nacionales del SNARIV deben garantizar a las respectivas Mesas de Víctimas las debidas condiciones logísticas y técnicas para el desarrollo de sus funciones, para lo cual se estipuló que las secretarías técnicas (los personeros en lo municipal y distrital, y la Defensoría del Pueblo en lo departamental y nacional) acompañen, asesoren y sirvan de garantes de la participación efectiva en estos espacios.
                     </p>

                     <p>
                         Los apoyos a los integrantes de las mesas consistirán en transporte, compensatorios, estadía, alimentación y el apoyo logístico para el funcionamiento de las mesas, los cuales se definirán en el marco de una tabla de valores que expedirá el SNARIV, para las entidades del orden nacional, y que sirva de referente para los entes territoriales. 
                     </p>

                     <p>
                         Las Mesas de Víctimas deben ser convocadas de forma que permitan a las víctimas participar de la forma más amplia posible, por esto, su convocatoria a sesiones y actividades no debe ser permanente, sino que debe ser moderada. Lo contrario generaría obstáculos e impediría la participación de muchos sectores de víctimas y fomentaría la profesionalización de la participación ciudadana.
                     </p>

                     <p>
                         La participación debe garantizarse. Una de estas garantías es facilitar a las personas acudir a los espacios sin afectar sus relaciones laborales, o de generación de ingresos, ni mucho menos sus obligaciones familiares.  
                     </p>

                     <p>
                         Por esto, el Protocolo ha determinado un mínimo de cuatro sesiones ordinarias al año de las mesas. Esto quiere decir que los alcaldes y gobernadores tendrán la obligación de, por lo menos, garantizar con transporte, alimentación, logística, espacio físico y gastos de viaje, estas cuatro sesiones de las mesas, y las sesiones preparatorias a los miembros del Comité Ejecutivo de cada mesa.  
                     </p>

                     <p>
                         Se parte de ese mínimo de cuatro sesiones al año, y de un máximo de diez que pueden concertar los entes territoriales con cada mesa, sin sobrepasar ese número, ya que se pondría un obstáculo al derecho a la participación de quienes tienen obligaciones laborales, de generación de ingresos, y obligaciones familiares, especialmente las líderes cabeza de familia, con hijos menores a su cuidado.  
                     </p>

                     <p>
                         Lo anterior debe involucrar una debida y estratégica planificación por parte de los entes territoriales y del Gobierno Nacional, con el fin de coordinar las citaciones a las mesas y no saturar de actividades a sus miembros. De la misma forma, las secretarías deben ejercer control, tanto para que los entes territoriales cumplan con las garantías para las sesiones de las mesas en un mínimo razonable, como para que no las saturen de sesiones. 

                     </p>

                     <p>
                         Las garantías para la participación también incluyen lo que en el Protocolo se denomina apoyo compensatorio (lo que antes se conocía como gastos de viaje). Es el reconocimiento de los días que aportan las víctimas del conflicto, una de las poblaciones más vulnerable, al ejercicio democrático de participar en representación de las víctimas. Estos gastos son ocasionales, no permanentes y nunca deben relacionarse con un factor salarial o de honorarios, porque desvirtuaría la esencia de la participación y representación, y terminaría excluyendo al grueso de la población víctima. Este equivale a 1.5 día de Salario Mínimo Mensual Vigente (SMMV) en la mesa departamental y 2.0 día SMMV en la Mesa Nacional. 
                     </p>

                     <p>
                         Los montos de los gastos de viaje serán reglamentados a nivel nacional por un acuerdo del SNARIV, y obligará a todas las entidades del sistema, mientras que en el nivel territorial serán adoptados por el respectivo alcalde o gobernador, y serán incluidos en los Planes de Acción Territorial (PAT). 
                     </p>

                     <h3>
                        <strong> Estructura de las mesas de participación </strong>
                     </h3>

                     <h4>
                         Plenario de la Mesa
                     </h4>

                     <p>
                         Es la máxima autoridad de decisión de las Mesas de Participación. Estarán constituidas por la Organización de Víctimas (OV) y la Organización Defensora de los Derechos de las Víctimas (ODV) que conforman las respectivas Mesas de Participación, estas últimas con voz, pero sin voto. 
                     </p>

                     <h4>Coordinador de la Mesa</h4>

                     <ul>
                         <li>
                             Dirige las sesiones de las mesas.  
                         </li>
                         <li>
                             Orienta las discusiones. 
                         </li>
                         <li>
                             Recibe los informes de avance de gestión de los grupos de trabajo temático.
                         </li>
                         <li>
                             Recibe los informes de avance y gestión de los representantes de la mesa a los espacios de interlocución.
                         </li>
                     </ul>

                     <h4>Secretaría técnica</h4>

                     <ul>
                         <li>
                             Ejercida por las personerías municipales y distritales en lo local.   
                         </li>
                         <li>
                             Defensorías Regionales en lo departamental. 
                         </li>
                         <li>
                             Defensoría del Pueblo en lo nacional.  
                         </li>
                         <li>
                             Acciones de organización, control. apoyo y seguimiento para facilitar el  
                             proceso de participación.
                         </li>
                         
                     </ul>

                     <h4>Comité Ejecutivo</h4>

                     <p>
                         Lo conforman el coordinador de la Mesa y seis miembros elegidos por el Plenario. Este debe cumplir con las siguientes funciones: a) cumplir y ejecutar las sesiones del plenario de la mesa; b) preparar y presentar a las Mesas de Participación las propuestas que se han de estudiar y aprobar en las mismas; y c) presentar informes trimestrales sobre sus actividades al plenario de la mesa.  
                     </p>

                     <h4>Comités temáticos </h4>

                     <p>
                         Son elegidos por el Plenario de Mesa a partir de los hechos victimizantes y los enfoques diferenciales, y por los diversos espacios de discusión, análisis y de generación de propuestas de política pública que las Mesas de Participación de las víctimas, de manera autónoma, quieran constituir.
                     </p>

                     <h4>
                         Comité de ética
                     </h4>

                     <p>
                         Conformado por tres miembros elegidos por el plenario. Este órgano es el encargado de proporcionar una evaluación independiente, competente y oportuna de las presuntas faltas en las que incurran los integrantes de Mesas de participación, ante queja presentada por algún miembro, respetando el debido proceso, el derecho a la defensa, la dignidad y demás derechos de los representantes. 
                     </p>

                     <h4>Grupos temáticos</h4>

                     <p>
                         Son los diversos espacios de discusión, análisis y generación de propuestas de política pública que las mesas de participación de manera autónoma quieran constituir. Para su conformación, los grupos temáticos deberán tener en cuenta los hechos victimizantes y los enfoques diferenciales. Sus coordinadores son elegidos por el plenario de la respectiva Mesa.  
                     </p>

                     <p>
                         Las mesas de participación municipales, distritales y departamentales deben crear por obligación como mínimo los siguientes comités temáticos: 
                     </p>

                     <ul>
                         <li>
                             Comité temático de niños, niñas y adolescentes  
                         </li>
                         <li>
                             Comité temático de víctimas de minas antipersonal (MAP), munición sin explotar (MUSE) y artefactos explosivos improvisados (AEI) 
                         </li>
                     </ul>

                     <h4>
                       <strong>Protocolo de Participación Efectiva de las Víctimas</strong>
                     </h4>

                     <p>
                         El Protocolo de Participación Efectiva de las Víctimas es considerado como el instrumento que permite a las víctimas y sus organizaciones participar en la formulación, implementación y seguimiento de la política pública de atención y reparación integral, como un mecanismo donde se señala los derechos y beneficios en torno a la participación, así como las obligaciones en cabeza de las entidades que hacen parte del SNARIV y las entidades territoriales. Es la carta de navegación que vincula a todos los actores relevantes para garantizar el derecho de la participación de las víctimas. 
                     </p>

                     <h4>
                         Temas relevantes del Protocolo 
                     </h4>

                     <p>
                        <em>1. Diferencia entre una Organización de Víctimas (OV) y una 
                            Organización Defensora de los Derechos de las Víctimas (ODV) </em>
                     </p>

                     <p>
                         Una OV es una organización conformada fundamentalmente por víctimas del conflicto armado y para hacer parte del proceso de elección, no tiene que estar registrada en la Cámara de Comercio. Por el contrario, una ODV debe estar registrada en Cámara de Comercio, no necesariamente debe estar conformada por víctimas, pero sí debe trabajar por y para ellas. La ODV actúa dentro de la Mesa de Participación con voz, pero sin derecho a voto.
                     </p>

                     <p>
                        <em>2. Representación de las víctimas de minas, desaparición 
                            forzada, víctimas en el exterior y víctimas de grupos étnicos </em>
                     </p>

                     <p>
                         Se incluyó la representación expresa de víctimas de minas, desaparición forzada, víctimas en el exterior y se amplió para grupos étnicos en las mesas de participación, porque así quedó estipulado en el Acuerdo Final Para La Terminación Del Conflicto y La Construcción De Una Paz Estable y Duradera. Uno de los retos que nos plantea el Acuerdo Final es ampliar y fortalecer la participación de las víctimas en los espacios existentes, partiendo de la premisa de que en las mesas de participación no existía representación de los colombianos y colombianas víctimas que viven en el exterior, así como de los grupos étnicos en casi todas las mesas municipales. 
                     </p>

                     <p>
                         A su vez, el mismo acuerdo pone en la agenda política el restablecimiento de los derechos para las víctimas de desaparición forzada, porque es uno de los capítulos de que trata el acuerdo, así como las minas antipersona junto con el desminado humanitario, lo que implica la necesidad de fortalecer la participación de estos temas en las mesas. 
                     </p>

                     <p>
                        <em>3. Comités de Frontera</em>
                     </p>

                     <p>
                         A pesar de que se otorgaron dos cupos en la Mesa Nacional a víctimas en el exterior, los Comités de Frontera continúan en funcionamiento en todas las mesas municipales y departamentales fronterizas, así como en la Mesa Nacional.  
                     </p>

                     <p>
                        <em>4. Cambios entre la inscripción y la elección de las mesas</em>
                     </p>

                     <p>
                         Estos no son posibles de hacer, en tanto que el proceso de inscripción es uno solo y se debe adelantar durante los primero 90 días del año. Para el momento de la elección de la respectiva mesa municipal, el personero se debe ceñir a la información que en su momento registró la Organización de Víctimas en el formulario de inscripción. 
                     </p>

                     <p>
                         <em>5. Tipos de organizaciones que se pueden inscribir como 
                             organizaciones de víctimas</em>
                     </p>

                     <p>
                         Organizaciones tales como Juntas de Acción Comunal, sujetos de reparación colectiva u organizaciones de mujeres, entre otros, pueden ser organizaciones de víctimas, pero antes deben constituirse como una Organización de Víctimas con la intención e interés en participar de este proceso. 
                     </p>

                     <p>
                        <em>6. Reelección de representantes</em> 
                     </p>

                     <p>
                         Un representante de víctimas puede ser reelegido de forma ilimitada. Un líder de una OV puede postularse una, o dos o más veces a una Mesa de Participación. Si las Organizaciones de Víctimas son la base del proceso y ellas las eligen, no existe impedimento. Este proceso de elección se equipará a otros procesos colegiados como los concejos, asambleas y el Congreso de la República.   
                     </p>

                     <p>
                        <em>7. Cupos para hechos victimizantes</em>
                     </p>

                     <p>
                         Es posible postularse tanto para los hechos victimizantes contra la vida y libertad como para el de desaparición forzada. Lo mismo ocurre para los dos cupos para representantes de OV postulados por el hecho victimizante contra la integridad física o psicológica, porque sigue abierta la opción para víctimas de MAP, MUSE y AEI. 
                     </p>

                     <p>
                        <em>8. Comité Temático de Víctimas de Minas Antipersona</em>  
                     </p>

                     <p>
                         Es una obligación crear este comité aun cuando en el municipio no haya representantes de víctimas de MAP, MUSE, AEI. Sin embargo, debe tenerse en cuenta que el municipio debe tener afectación por la siembra de minas antipersonal en concordancia con el desminado humanitario propuesto en el Acuerdo Final. 
                     </p>

                     <p>
                        <em>9. Representación de las ODV en las Mesas Departamentales</em> 
                     </p>

                     <p>
                         A pesar de que las ODV no están incluidas en el artículo 30 de la Resolución N.° 01392 de 2016, sí lo están en el artículo 31 de la misma resolución. Estas tienen espacio y continuarán con cuatro cupos en la Mesa Departamental.  
                     </p>

                     <p>
                        <em>10. Seguimiento y control</em> 
                     </p>

                     <p>
                         A quien le corresponde hacer el seguimiento del funcionamiento de las mesas de participación y poner en conocimiento del organismo de control correspondiente cuando se presenten irregularidades o no se realicen los apoyos correspondientes, es a la Secretaría Técnica de la Mesa, que está en cabeza del Ministerio Público, para que adelante las labores disciplinarias correspondientes. La Unidad para las Víctimas no ejerce labores de control. 
                     </p>

                     <p>
                        <em>11. Protocolo de Niños, Niñas, Adolescentes NNA</em> 
                     </p>

                     <p>
                         Este protocolo está vigente mediante la Resolución N.° 00623 de 2014, el cual es de aplicación de las entidades territoriales 
                     </p>

                     <p>
                        <em>Número de integrantes de la Mesa Municipal de Participación de Víctimas</em>
                     </p>

                     <p>
                         No hay establecido un número mínimo de integrantes, pero para efectos de deliberación, votación y funcionamiento, es recomendable al menos tres miembros. 
                     </p>

                     <p>
                         Adicionalmente, si para la elección de una mesa sólo se postulan por el hecho victimizante de desplazamiento forzado, se puede elegir e instalar esa Mesa de Participación. En este caso los hechos victimizantes y enfoques que tengan postulados, son cargos que quedan vacíos y la Mesa se conforma con quienes se hagan presentes y se postulen, así solo sean de desplazamiento forzado. 
                     </p>

                     <p>
                       <em>13. Postulados</em> 
                     </p>

                     <p>
                         Los postulados a un hecho victimizante o enfoque diferencial deben tener la edad, género y haber sufrido el hecho victimizante. No necesariamente debe aparecer así en el Registro Único de Víctimas y puede aportar pruebas que certifiquen la idoneidad del hecho o enfoque que busca postularse y representar en la Mesa.
                     </p>

                     <p>
                      <em>14. Certificación de domicilio</em> 
                     </p>

                     <p>
                         La certificación del domicilio de un postulado le corresponde al Personero Municipal; esto para garantizar que participa en la elección del municipio donde vive.
                     </p>

                     <h4>
                        <strong>Temas relevantes sobre grupos étnicos</strong> 
                     </h4>

                     <p>
                        <em>1. Idoneidad de los postulados donde no exista autoridad indígena,
                             afrocolombiana o Rrom</em>  </p>
                    <p>La persona que se postula como perteneciente a una comunidad étnica debe tener idoneidad, lo que implica que debe pertenecer a la comunidad étnica que va a representar (por ejemplo, certificación de cabildo indígena, certificación del consejo comunitario, pertenecer a un pueblo étnico, entre otros), por lo que no basta solamente con el autorreconocimiento. </p>
                    <p>Los cabildos indígenas en procesos de formación no reconocidos aún por el Ministerio del Interior, pueden inscribirse como OV y postular todos los cupos, incluidos el de indígena, solo en los municipios donde no exista autoridad tradicional indígena. </p>
                    <p>Las OV afrocolombianas también se pueden inscribir como OV y postular todos los cupos a proveer, incluido el cupo afrodescendiente. </p>
                    <p><em>2. Postulación de cabildos indígenas</em></p>
                    <p>Los cabildos indígenas legalmente reconocidos, no pueden inscribirse como tales como OV, ya que estos son entidades públicas de carácter especial con una estructura político-administrativa. Pero si al interior del cabildo se conforman organizaciones, éstas pueden inscribirse para postular como cualquier otra OV. </p>
                                    
    
            </div>
      
    
    </mat-expansion-panel>
  
    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                INFORMES DEL GOBIERNO NACIONAL ANTE EL CONGRESO
            </mat-panel-title>
          </mat-expansion-panel-header>
            
          <div class="contenidoRequerimientos">
            
            <p>El Gobierno Nacional, a través de la Unidad para las Víctimas como coordinadora del Sistema Nacional para la Atención y Reparación Integral a las Víctimas (SNARIV), debe presentar informe a las comisiones primeras de Senado de la República y Cámara de Representantes sobre los avances de la política pública de atención y reparación integral a víctimas, en cumplimiento de lo dispuesto en la Ley 1448 de 2011 en sus artículos 200 y 202. </p>
             <table>
             <tbody>
             <tr>
             <td>
             <p><strong>Fuente</strong> </p>
             </td>
             <td>
             <p><strong>¿Quién lo presenta?</strong> </p>
             </td>
             <td>
             <p><strong>¿A quién lo presenta?</strong> </p>
             </td>
             <td>
             <p><strong>¿Qué contiene?</strong> </p>
             </td>
             <td>
             <p><strong>¿En qué fecha?</strong> </p>
             </td>
             </tr>
             <tr>
             <td>
             <p><strong>Artículo 202, Ley 1448 de 2011</strong> </p>
             </td>
             <td>
             <p>Gobierno Nacional </p>
             </td>
             <td>
             <p>Comisión de Seguimiento a la Ley 1448 de 2011 del Congreso de la República.  </p>
             </td>
             <td>
             <p>Informes referidos a la utilización de las atribuciones que se le confieren mediante la presente ley, así como sobre las medidas tendientes a mejorar las condiciones sociales, psicológicas y económicas de las víctimas. </p>
             </td>
             <td>
             <p>Primeros diez días de cada periodo legislativo </p>
             </td>
             </tr>
             <tr>
             <td>
             <p><strong>Artículo 200, Ley 1448 de 2011</strong> </p>
             </td>
             <td>
             <p>Presidente de la República  </p>
             </td>
             <td>
             <p>Congreso de la República  </p>
             </td>
             <td>
             <p>Informe anual sobre los avances en la ejecución y cumplimiento de la ley de Victimas y Restitución de Tierras.  </p>
             </td>
             <td>
             <p>Mes siguiente a cada inicio de legislatura </p>
             </td>
             </tr>
             </tbody>
             </table>
             <br/>
             <p>Hasta el momento en el histórico se han presentado los siguientes informes: </p>
             <p>1) XVII Informe del Gobierno Nacional a la Comisión de Seguimiento a la Ley 1448 de 2011 del Congreso de la República,
                  compuesta por delegados de las comisiones primeras constitucionales del Senado y la Cámara de Representantes, entregados con el siguiente detalle: </p>
             
                <table>
                    <tbody>
                    <tr>
                    <td>
                    <p><strong>Número de informe</strong> </p>
                    </td>
                    <td>
                    <p><strong>Fecha</strong> </p>
                    </td>
                    <td>
                    <p><strong>Objeto del informe</strong> </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>I </p>
                    </td>
                    <td>
                    <p>Agosto de 2012 </p>
                    </td>
                    <td>
                    <p>Este informe corresponde al primer año de vigencia de la Ley y propone una mirada comprehensiva del proceso de atención, asistencia y reparación integral en el que, por vez primera en la historia colombiana, las víctimas son el centro de todo el esfuerzo estatal. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>II </p>
                    </td>
                    <td>
                    <p>Marzo de 2013 </p>
                    </td>
                    <td>
                    <p>Realiza la descripción de las gestiones adelantadas durante el 2012, donde las instancias de coordinación del SNARIV fueron escenarios de un trabajo articulado para el diseño, implementación y seguimiento de la política pública de atención y reparación integral a las víctimas. Así, el Comité Ejecutivo, con presencia del Presidente de la República, aprobó la reglamentación de la Ley de Víctimas, dispuso la elaboración del documento CONPES, y aprobó los criterios de valoración para la inscripción de víctimas individuales y colectivas en el Registro Único de Víctimas. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>III </p>
                    </td>
                    <td>
                    <p>Agosto de 2013 </p>
                    </td>
                    <td>
                    <p>Luego de dos años de emitida la Ley de Víctimas se realiza una revisión y balance de la acción gubernamental en este importante campo del quehacer nacional. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>IV </p>
                    </td>
                    <td>
                    <p>Marzo de 2014 </p>
                    </td>
                    <td>
                    <p>Da cuenta de las acciones realizadas en materia de atención a víctimas durante el segundo semestre del año 2013. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>V </p>
                    </td>
                    <td>
       
                    </td>
                    <td>
                    <p>Presenta un balance de los avances que hasta el momento se han presentado en el proceso de atención, asistencia y reparación integral a las víctimas de nuestro país, en cuanto al papel <br />de la institucionalidad, el presupuesto, la coordinación de los sistemas de información, así como de los mecanismos que garantizan la participación efectiva de las víctimas. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>VI </p>
                    </td>
                    <td>
       
                    </td>
                    <td>
                    <p>Presenta los resultados de la medición de indicadores de goce efectivo de derechos de la población desplazada, realizada entre 2013 y el primer semestre de 2014. Por ello, el documento expone como eje central la Encuesta de Goce Efectivo de Derechos (EGED) y los resultados obtenidos que dan cuenta del impacto que ha tenido la política pública.  </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>VII </p>
                    </td>
                    <td>
                    <p>Agosto de 2015 </p>
                    </td>
                    <td>
                    <p>Presenta los avances, logros y resultados del SNARIV durante el primer semestre de 2015 </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>VIII </p>
                    </td>
                    <td>
                    <p>Abril de 2016 </p>
                    </td>
                    <td>
                    <p>Presenta los aportes que desde el 2011 la política pública de atención y reparación integral a víctimas viene haciendo a la construcción de paz, a partir de sus principios rectores: la reparación transformadora, la voz de las víctimas en la reconstrucción del tejido social y la construcción desde el territorio y complementariedad con las políticas de desarrollo, durante el período del 1 de enero al 31 de diciembre de 2015. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>IX </p>
                    </td>
                    <td>
                    <p>Agosto de 2016 </p>
                    </td>
                    <td>
                    <p>Se reportan los avances, logros y resultados del SNARIV durante el período del 1 de enero de 2015 al 31 de mayo de 2016 </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>X </p>
                    </td>
                    <td>
                    <p>Abril de 2017 </p>
                    </td>
                    <td>
                    <p>Presenta las acciones realizadas por el Gobierno Nacional entre el 1 de enero y el 31 de diciembre de 2016, como aportes a la construcción de la paz, a partir de los principios rectores de la política pública de atención y reparación integral a víctimas: la reparación transformadora, la voz de las víctimas en la reconstrucción del tejido social y la complementariedad de las medidas de atención y reparación integral con las políticas de desarrollo. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>XI </p>
                    </td>
                    <td>
                    <p>Agosto de 2017 </p>
                    </td>
                    <td>
                    <p>Reporta los avances del SNARIV durante el período del 1 de enero al 31 de diciembre de 2016, y se estructura a partir de los indicadores concernientes a la política pública de atención y reparación integral a las víctimas incluidos en el Plan Nacional de Desarrollo 2014 – 2018 “Todos por un Nuevo País”. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>XII </p>
                    </td>
                    <td>
                    <p>Abril de 2018 </p>
                    </td>
                    <td>
                    <p>Presenta los avances del SNARIV durante el período del 1 de enero al 31 de diciembre de 2017, y está estructurada a partir de los indicadores concernientes a la política pública de atención y reparación integral a las víctimas incluidos en el Plan Nacional de Desarrollo 2014 – 2018 “Todos por un Nuevo País”. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>XIII </p>
                    </td>
                    <td>
                    <p>Agosto de 2018 </p>
                    </td>
                    <td>
                    <p>Presenta los avances en la ejecución de la política pública, desde 2011 hasta 2018, correspondiente a los dos períodos d
                        e gobierno del Presidente Juan Manual Santos, 2010-2014 y 2014-2018; así como los retos y recomendaciones que pe
                        rsisten en la implementación de la política pública </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>XIV </p>
                    </td>
                    <td>
                    <p>Abril de 2019 </p>
                    </td>
                    <td>
                    <p>Presenta el reporte del SNARIV durante el período comprendido entre el 1 de enero y el 31 de diciembre de 2018. De manera particular,
                         resalta avances específicos, como la superación de la situación de vulnerabilidad de más de un millón cuatrocientas mil víctimas de 
                         desplazamiento forzado, el ajuste técnico del Programa de Reparación Colectiva y el cierre de cinco planes de reparación colectiva, 
                         impactando así el desarrollo local y la política de estabilización en los departamentos de Atlántico, Cundinamarca, Cesar, Risaralda y
                          Norte de Santander. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>XV </p>
                    </td>
                    <td>
                    <p>Agosto de 2019 </p>
                    </td>
                    <td>
                    <p>Presenta un balance en la ejecución de las prioridades estratégicas de gobierno identificadas tanto en las bases del Plan Nacional de Desarrollo 2018 – 2022 “Pacto por Colombia Pacto por la Equidad”, como en el articulado final de la Ley 1955 de 2019, en materia de atención y reparación a víctimas, así como también por las metas establecidas en relación con la política pública de atención y reparación integral a víctimas durante el período del 1 de agosto de 2018 al 30 de junio de 2019. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>XVI </p>
                    </td>
                    <td>
                    <p>Abril de 2020 </p>
                    </td>
                    <td>
                    <p>Presenta un balance sobre el cumplimiento de metas establecidas en relación con la política pública de atención y reparación integral a víctimas dentro del Plan Nacional de Desarrollo 2018 – 2022, Ley 1955 de 2019 “Pacto por Colombia, Pacto por la Equidad”, así como también de procesos estratégicos en materia de cierres de gobierno, nuevos mandatarios y elección y renovación de representantes en mesas de participación de víctimas, todo ello con corte de enero a diciembre de 2019. </p>
                    </td>
                    </tr>
                    <tr>
                    <td>
                    <p>XVII </p>
                    </td>
                    <td>
                    <p>Agosto de 2020 </p>
                    </td>
                    <td>
                    <p>Expone un balance en la ejecución de acciones relacionadas con cada uno de los componentes que hacen parte de la política pública de atención y reparación a víctimas, durante el período del 1 de enero al 30 de junio de 2020. Asimismo, teniendo en cuenta la declaratoria del  Estado de Emergencia Económica, Social y Ecológica por medio del Decreto 417 de  marzo 17 de 2020, el presente informe contempla con especial énfasis, y como eje transversal en cada uno de los capítulos, las medidas tomadas para continuar atendiendo, asistiendo y reparando a las víctimas del conflicto en el marco de la emergencia por la COVID-19, demostrando con ello el alto compromiso que todas las instituciones tiene en su atención y reparación. </p>
                    </td>
                    </tr>
                    </tbody>
                    </table>

                    <br/>
                    <br/>

             <p> 2) Informe IX anual del Presidente de la República, el cual debe radicarse ante el Congreso de la República. La Unidad para las Víctimas,
                  como coordinadora del SNARIV, elabora los insumos suficientes y necesarios para enviar a la Presidencia, quien en última instancia es responsable
                   de la aprobación del documento y su posterior radicación. </p>
             <p>Ambos documentos compartirán los fundamentos conceptuales y desarrollarán los mismos contenidos. No obstante, se diferenciarán en la redacción, composición y presentación; siendo el informe del presidente un documento más corto, conciso y redactado en método de viñetas por avance o resultado.  </p>
             <p>Los informes que hasta el momento se han entregado contienen el siguiente detalle: </p>
             <table>
             <tbody>
             <tr>
             <td>
             <p><strong>Número de informe</strong> </p>
             </td>
             <td>
             <p><strong>Fecha</strong> </p>
             </td>
             <td>
             <p><strong>Objeto del informe</strong> </p>
             </td>
             </tr>
             <tr>
             <td>
             <p>V </p>
             </td>
             <td>
             <p>Agosto de 2016 </p>
             </td>
             <td>
             <p>Destaca resultados, logros y avances de la política pública de prevención, protección, atención, asistencia y reparación integral a las víctimas, donde el Gobierno Nacional busca de manera decidida la integración de la población víctima a los procesos de desarrollo, como base sustancial para la reconciliación nacional. </p>
             </td>
             </tr>
             <tr>
             <td>
             <p>VI </p>
             </td>
             <td>
             <p>Agosto de 2017 </p>
             </td>
             <td>
             <p>Destaca resultados, logros y avances en la atención y reparación integral a las víctimas. De manera particular, este informe detalla materias como la atención y reparación a las mujeres víctimas, la reparación a víctimas del hecho victimizante contra la libertad e integridad sexual, las medidas de rehabilitación psicosocial y la constitución de encargos fiduciarios en el proceso de indemnización administrativa a menores de edad. </p>
             </td>
             </tr>
             <tr>
             <td>
             <p>VII </p>
             </td>
             <td>
             <p>Agosto de 2018 </p>
             </td>
             <td>
             <p>Presenta los avances en la ejecución de la política pública, desde 2011 hasta 2018, correspondiente a los dos períodos de gobierno del Presidente Juan Manual Santos, 2010-2014 y 2014-2018; así como los retos y recomendaciones que persisten en la implementación de la política pública </p>
             </td>
             </tr>
             <tr>
             <td>
             <p>VIII </p>
             </td>
             <td>
             <p>Agosto de 2019 </p>
             </td>
             <td>
             <p>La información presentada corresponde al período del 1 de agosto de 2018 al 30 de junio de 2019 y responde al balance en la ejecución de las prioridades estratégicas de gobierno identificadas tanto  en las bases del Plan Nacional de Desarrollo 2018 – 2022 “Pacto por Colombia Pacto por la Equidad”, como en el articulado final de la Ley 1955 de 2019. <br />En tal sentido, los adelantos reportados en este informe no corresponden únicamente a las apuestas contenidas en el Pacto XI, “Pacto por la construcción de Paz: cultura de la legalidad, convivencia, estabilización y víctima”, sino también a acciones que responden al “Pacto por la legalidad: seguridad efectiva y justicia transparente para que todos vivamos con libertad y en democracia”, al “Pacto por la equidad de oportunidades para grupos indígenas, negros, afros, raizales, palenqueros y Rrom” y al “Pacto por la igualdad de las mujeres”.  </p>
             </td>
             </tr>
             <tr>
             <td>
             <p>IX </p>
             </td>
             <td>
             <p>Agosto de 2020 </p>
             </td>
             <td>
             <p>La información presenta la ejecución de acciones relacionadas con cada uno de los componentes que hacen parte de la política pública de atención y reparación a Víctimas, durante el período del 1 de enero al 30 de junio de 2020. Información que, teniendo en cuenta la declaratoria del Estado de Emergencia Económica, Social y Ecológica, contempla con especial énfasis y como eje transversal en cada uno de los capítulos, las medidas tomadas para continuar atendiendo, asistiendo y reparando a las víctimas del conflicto en el marco de la emergencia por la COVID-19. </p>
             </td>
             </tr>
             </tbody>
             </table>
         </div>
    
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        INFORMES A LA COMISIÓN DE SEGUIMIENTO Y MONITOREO DE LA LEY DE VÍCTIMAS 
    </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="contenidoRequerimientos">
        <p>A partir del año 2020, se le asigno a la Dirección de Gestión Interinstitucional la responsabilidad de construir la respuesta a las recomendaciones contenidas en los Informes de la Comisión de Seguimiento y Monitoreo de la Ley de Victimas, conformada por la Contraloría General de la República, la Procuraduría General de la Nación y la Defensoría del Pueblo. </p>
        <p>En este orden de ideas, los informes que se han entregado en el año 2020 contienen el siguiente detalle: </p>
        <table>
        <tbody>
        <tr>
        <td>
        <p><strong>Número de informe</strong> </p>
        </td>
        <td>
        <p><strong>Presentado en </strong> </p>
        </td>
        <td>
        <p><strong>Objeto del informe</strong> </p>
        </td>
        </tr>
        <tr>
        <td>
        <p>VI </p>
        </td>
        <td>
        <p>Marzo de 2020 </p>
        </td>
        <td>
        <p>Respuesta recomendaciones – Sexto informe Comisión de Seguimiento y Monitoreo a la Implementación de la Ley de Víctimas y Restitución de Tierras </p>
        </td>
        </tr>
        <tr>
        <td>
        <p>VII </p>
        </td>
        <td>
        <p>Noviembre de 2020 </p>
        </td>
        <td>
        <p>Respuesta de las recomendaciones del Séptimo Informe Comisión de Seguimiento y Monitoreo a la Implementación de la Ley de Víctimas y Restitución de Tierras. </p>
        </td>
        </tr>
        </tbody>
        </table>
    </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        INFORMES DE LAS RESOLUCIONES DEFENSORIALES
    </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="contenidoRequerimientos">
         <p>En el año 2020, desde la Dirección de Gestión Interinstitucional se ha dado respuesta a las siguientes Resoluciones defensoriales: </p>
         <table>
         <tbody>
         <tr>
         <td>
         <p><strong>Número de Resolución</strong> </p>
         </td>
         <td>
         <p><strong>Fecha</strong> </p>
         </td>
         <td>
         <p><strong>Objeto del informe</strong> </p>
         </td>
         </tr>
         <tr>
         <td>
         <p>071 de junio de 2019 </p>
         </td>
         <td>
         <p>Mayo de 2020 </p>
         </td>
         <td>
         <p>Informe Tripartito de Seguimiento al cumplimiento de las Recomendaciones de la Resolución Defensorial 071 de junio de 2019 y la Directiva Conjunta N.° 012 del 22 de agosto de 2019. </p>
         </td>
         </tr>
         <tr>
         <td>
         <p>064 de septiembre de 2014 </p>
         </td>
         <td>
         <p>Noviembre/ diciembre de 2020 </p>
         </td>
         <td>
         <p>Informe crisis humanitaria en Chocó. </p>
         </td>
         </tr>
         </tbody>
         </table>

     </div>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        MEDICIÓN SUPERACIÓN DE SITUACIÓN DE VULNERABILIDAD
    </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="contenidoRequerimientos">
        <p>El Decreto Único del Sector de la Inclusión Social y la Reconciliación 1084 de 2015 en sus artículos 2.2.6.5.5.1 al 2.2.6.5.5.11 y la Resolución Conjunta 2200 de 2018, constituyen la normatividad vigente que define los lineamientos para la evaluación de la superación de la situación de vulnerabilidad (SSV) de las personas y los hogares que sufrieron el hecho victimizante de desplazamiento forzado, de acuerdo con lo establecido por la Ley 1448 de 2011.  </p>
        <p>Esta medición tiene sustento en el Decreto 1084 de 2015 en su artículo 2.2.6.5.5.3 y subsiguientes, así como en los criterios establecidos en la Resolución 2200 de 2018, constituyen la normatividad vigente que define los lineamientos para la evaluación de la superación de la situación de vulnerabilidad de las personas y los hogares que sufrieron el hecho victimizante de desplazamiento forzado, de acuerdo con lo establecido por la Ley 1448 de 2011. </p>
        <p>Esta normatividad busca que se establezca, mediante una medición objetiva, la situación de la población víctima de desplazamiento forzado en materia de acceso a sus derechos, posterior a la ocurrencia del hecho, con el propósito de que accedan a las diferentes medidas, planes, programas y proyectos previstos por las entidades del Sistema Nacional de Atención y Reparación Integral a las Víctimas (SNARIV) de acuerdo con su situación particular. </p>
        <p><strong>C</strong><strong>riterios de medición</strong> </p>
        <p>La situación de vulnerabilidad de las personas víctimas de desplazamiento forzado incluidas en el Registro Único de Víctimas (RUV) se entenderá superada si se verifica alguna de las siguientes condiciones: </p>
        <ul>
        <li>La superación de un umbral del Índice Global de Restablecimiento Social y Económico según los criterios de medición descritos en el siguiente apartado.  </li>
        </ul>
        <ul>
        <li>Si la persona víctima manifiesta voluntariamente que ha superado esta situación. </li>
        </ul>
        
        <p><strong>Índice Global </strong><strong>d</strong><strong>e Restablecimiento Social </strong><strong>y</strong><strong> Económico </strong> </p>
        <p>El índice Global de Restablecimiento Social y Económico es un instrumento que permite establecer cuándo una persona ha superado su situación de vulnerabilidad o qué tan cerca se encuentra de la superación. Por lo anterior, constituye un mecanismo de focalización y priorización de la oferta destinada a garantizar la superación de la situación de vulnerabilidad, así como un mecanismo para verificar los avances de la política en esta materia.  </p>
        <p>Su medición consiste en establecer el nivel de cumplimiento de cada derecho (de cero a uno), de acuerdo con los criterios mencionados anteriormente, realizar un conteo de los derechos cumplidos y una suma ponderada de estos resultados siguiendo la siguiente fórmula: </p>
        <p> IRSE=  (I+S+E+V+G+A+P+R+d)/8</p>
        <p>Donde <em>I</em> es el índice de cumplimiento del derecho a la identificación, <em>S</em> a la salud, <em>E</em> a la educación, <em>A</em> a la alimentación, <em>V</em> a la vivienda, <em>G</em> a la generación de ingresos, <em>P</em> a la atención psicosocial y <em>R</em> a la reunificación familiar; <em>d</em> es una variable dicótoma que toma el valor de 1 si la víctima de desplazamiento forzado cumple todos los criterios, exceptuando el de atención psicosocial, y 0 en otro caso. </p>
        <p>Con respecto al índice <em>V</em> del derecho a la vivienda, este será un promedio simple del cumplimiento de los cinco criterios asociados al Índice de Pobreza Multidimensional (IPM) y de la seguridad jurídica de la tenencia. El índice <em>G</em> del derecho a la generación de ingresos tomará el valor de 1 si la víctima de desplazamiento forzado cumple con el derecho, 0 si está en un hogar con ingresos menores o iguales a la línea de pobreza extrema, y tomará valores de entre 0 y 1 si está en un hogar con ingresos que están entre la línea de pobreza extrema y la línea de pobreza moderada. </p>
        <p>Se considerará que la víctima de desplazamiento forzado supera la situación de vulnerabilidad asociada al desplazamiento si el índice global de restablecimiento social y económico es igual a 1. </p>
        <p>A continuación se describen los criterios definidos para establecer el índice de cada derecho: </p>
        <p><strong><em>Identificación  </em></strong></p>
        <p>La víctima de desplazamiento forzado cuenta con la expedición de los documentos de identificación de acuerdo con su edad. En este sentido, la persona goza de este derecho si cumple alguna de las siguientes condiciones:  </p>
        <ul>
        <li>Tiene entre 0 y 6 años y cuenta con el registro civil de nacimiento.  </li>
        </ul>
        <ul>
        <li>Tiene entre 7 y 17 años y cuenta con la tarjeta de identidad.  </li>
        <li>Tiene 18 años o más y cuenta con la cédula de ciudadanía.  </li>
        <li>Goza del derecho a la educación o a la salud según los criterios definidos para el cumplimiento de esos derechos. </li>
        </ul>
        <p><em><strong>Salud </strong></em></p>
        <p>La víctima de desplazamiento forzado se encuentra afiliada a alguno de los regímenes del Sistema General de Seguridad Social en Salud. </p>
        <p><em><strong>Atención psicosocial  </strong></em></p>
        <p>La víctima de desplazamiento forzado ha solicitado y recibido atención o rehabilitación psicosocial, por al menos una de las siguientes vías: </p>
        <ul>
        <li>Ha solicitado atención o rehabilitación psicosocial y la ha recibido. </li>
        <li>Habiendo sido citada o informada de la programación de sesiones individuales o grupales de atención o rehabilitación psicosocial y no asistió. </li>
        <li>No ha requerido este tipo de atención. </li>
        </ul>
        <p><em><strong>Educación  </strong></em></p>
        <p>La víctima de desplazamiento forzado tiene entre 6 y 17 años que cumple con las siguientes condiciones: </p>
        <ul>
        <li>Asiste algún nivel de educación preescolar, básica o media y asistió y terminó el año escolar anterior a la medición. </li>
        <li>Ha terminado la educación media.  </li>
        </ul>
        <p>Si la víctima tiene 5 años y está siendo atendida a través de Centros de Desarrollo Infantil o asiste a algún servicio de educación prescolar, cumple con el derecho. </p>
        <p><em><strong>Alimentación </strong></em> </p>
        <p>La víctima de desplazamiento forzado pertenece o cumple con alguna de las siguientes condiciones:  </p>
        <ul>
        <li>Hace parte de un hogar cuya alimentación cumple con las siguientes dos características: </li>
        </ul>
        <ul>
        <li>Frecuencia adecuada de consumo de alimentos: el hogar cuenta con un consumo aceptable, medido a través del Food Consumption Score (FCS) del Programa Mundial de Alimentos. </li>
        <li>Diversidad alimentaria: el hogar consumió al menos cinco de los siguientes grupos de alimentos durante la semana anterior a la recolección de la información: tubérculos y cereales, legumbres, vegetales, frutas, carnes y pescados, lácteos, aceites y grasas. </li>
        </ul>
        <ul>
        <li>Goza del derecho a la generación de ingresos según los criterios definidos para el cumplimiento de ese derecho. </li>
        </ul>
        <p><strong>Vivienda  </strong></p>
        <p>La víctima de desplazamiento forzado hace parte de un hogar cuya vivienda cumple con alguna de las siguientes características:  </p>
        <ul>
        <li>No tiene privación en vivienda según los criterios establecidos en la metodología para el cálculo del IPM utilizada por el DANE y algún miembro del hogar es propietario con documento registrado; es arrendatario con contrato verbal o escrito de la vivienda; o para la zona rural cuenta con la sana posesión.  </li>
        <li>El hogar fue beneficiario de un subsidio de vivienda aplicado, vivienda en especie o mejoramiento de vivienda después del último evento de desplazamiento forzado. </li>
        </ul>
        <p><strong><em>Reunificación familiar  </em></strong></p>
        <p>La víctima de desplazamiento forzado hace parte de un hogar que cumple alguna de las siguientes condiciones:  </p>
        <ul>
        <li>El hogar solicitó apoyo del Estado para reunificarse en un periodo menor a dos años desde el último evento de desplazamiento forzado y logró dicha reunificación. </li>
        <li>El hogar no ha solicitado apoyo del Estado para reunificarse en un periodo menor a dos años desde el último evento de desplazamiento forzado.  </li>
        </ul>
        <p><em><strong>Generación de ingresos</strong></em>  </p>
        <p>La víctima de desplazamiento forzado pertenece a un hogar que cumple alguna de las siguientes condiciones:  </p>
        <ul>
        <li>El hogar tiene ingresos por valor igual o superior a la línea de pobreza establecida por el DANE, vigente para el año de verificación y el lugar de residencia. </li>
        <li>El hogar tiene ingresos por valor igual o superior a la línea de pobreza extrema establecida por el DANE, vigente para el año de verificación y el lugar de residencia, y cuenta con al menos una de las siguientes condiciones:  </li>
        </ul>
        <ul>
        <li>Algún miembro del hogar tiene un trabajo formal vigente para el año de verificación.  </li>
        </ul>
        <ul>
        <li>Algún miembro del hogar es propietario de un lote o inmueble distinto al que habita en un entorno rural con vocación productiva. </li>
        <li>Algún miembro del hogar cuenta con formación técnica, tecnológica o universitaria finalizada.  </li>
        <li>Algún miembro del hogar finalizó algún programa de emprendimiento o fortalecimiento empresarial con posterioridad a la ocurrencia del último hecho victimizante.  </li>
        <li>El hogar hace parte del 25% de la población con mayores ingresos en su barrio o vereda en el Sisbén. </li>
        </ul>
        <ul>
        <li>El hogar tiene ingresos iguales o superiores a 1.5 veces la línea de pobreza extrema establecidas por el DANE, y al menos uno de los miembros ha accedido a programas de formación para la generación de ingresos o de empleabilidad con posterioridad a la ocurrencia del hecho victimizante </li>
        </ul>
        <p><strong>C</strong><strong>riterio de población comparable a partir de Sisbén</strong> </p>
        <p>Para efectos de la medición del Índice Global de Restablecimiento Social y Económico descrito anteriormente, se considerará que la víctima de desplazamiento forzado cumple los criterios asociados a los derechos de generación de ingresos, vivienda y alimentación, si cumple con unos criterios de comparabilidad definidos a partir del puntaje Sisbén IV que identifiquen su nivel de estabilización social y económica. Estos criterios deberán definirse técnicamente una vez haya finalizado el proceso de barrido que se establece en el documento CONPES 3877 de 2016. </p>
        <p><strong>Manifestación espontánea, libre, voluntaria y consciente de la superación de la situación de vulnerabilidad </strong> </p>
        <p>La manifestación espontánea, libre, voluntaria y consciente de superación de la situación de vulnerabilidad fue reconocida como derecho a las víctimas del desplazamiento forzado que así lo consideren, mediante el artículo 2.2.6.5.5.9 del Decreto 1084 de 2015. Esta manifestación es atendida bajo la presunción constitucional de buena fe y como exaltación de los deberes que tiene toda persona al ser ciudadana de la nación y sujeto social responsable. La manifestación voluntaria la podrá realizar la víctima ante la Unidad para las Víctimas a través de los formatos y procedimientos que para el efecto se establezca.</p>
        </div>
    </mat-expansion-panel>

</div>
