
<div class="contentTemas">
    <div class="cuadroTemas">

        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="Negrita">
                            PROYECTOS CON SOLICITUDES DE ASISTENCIA TÉCNICA EN LA FORMULACIÓN Y/O GESTIÓN DE RECURSOS ATENDIDOS
                        </li>
                        <p>
                            Reporte entregado de forma trimestral por el GGP frente a los proyectos formulados que cumplan con acciones 
                            de los PIRC y Planes de Retornos y Reubicaciones que no puedan ser financiados por la Unidad
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/ocad_paz" >
                                PROYECTOS PRESENTADOS ANTE EL OCAD-PAZ PARA LA GESTIÓN DE RECURSOS QUE PERMITAN LA FINANCIACIÓN DE LOS PROYECTOS
                            </a>
                        </li>
                        <p>
                            Reporte entregado de forma bimestral por el GGP frente a los proyectos de municipios PDET formulados para ser presentados ante OCAD Paz.
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/info_proyectos_ofertados" >
                                INFORMACIÓN DE PROYECTOS OFERTADOS POR LA UNIDAD
                            </a>
                        </li>
                        <p>
                            Interoperabilidad con herramienta SIGESPLAN donde se generan reportes sobre el estado actual de los proyectos ofertados por la Unidad.
                        </p>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>

     <!--   <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                <ul class="cuatroTemas">
                        <li class="Negrita">
                            PROYECTOS CON SOLICITUDES DE ASISTENCIA TÉCNICA EN LA FORMULACIÓN Y/O GESTIÓN DE RECURSOS ATENDIDOS
                        </li>
                        <p>
                            Reporte entregado de forma trimestral por el GGP frente a los proyectos formulados que cumplan con acciones 
                            de los PIRC y Planes de Retornos y Reubicaciones que no puedan ser financiados por la Unidad
                        </p>
                        <li class="Negrita"> 
                            
                            PROYECTOS PRESENTADOS ANTE EL OCAD, PAZ PARA LA GESTIÓN DE RECURSOS QUE PERMITAN LA FINANCIACIÓN DE LOS PROYECTOS
                            
                        </li>
                        <p>
                            Reporte entregado de forma bimestral por el GGP frente a los proyectos de municipios PDET formulados para ser presentados ante OCAD Paz.
                        </p>
                        <li class="Negrita"> 
                            
                            INFORMACIÓN DE PROYECTOS OFERTADOS POR LA UNIDAD
                           
                        </li>
                        <p>
                            Interoperabilidad con herramienta SIGESPLAN donde se generan reportes sobre el estado actual de los proyectos ofertados por la Unidad.
                        </p>
                    </ul>
                </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="" 
            frameborder="0"></iframe>
        </div>
    </div>
    -->
</div>

