
<div class="contentTemas">
    <div class="cuadroTemas">

        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="Negrita">
                            EVENTOS TIPO MASIVO CON COORDINACIÓN PARA SU ATENCIÓN
                       </li>
                        <ul>
                            <li>Eventos</li>
                        </ul>
                        <li class="Negrita"> 
                          
                                ENTIDADES TERRITORIALES QUE CUMPLEN CON LOS REQUISITOS 
                                PARA SOLICITAR APOYO SUBSIDIARIO PARA BRINDAR AHI (DESPLEGABLE)
                            
                        </li>
                        <ul>
                            <li>Alcaldías</li>
                            <li>Gobernaciones</li>
                        </ul>
                        <li class="link"> 
                           <a routerLink="/dgsh/ayuda_humanitaria">
                           AYUDA HUMANITARIA
                        </a>
                              
                        </li>
                        <ul>
                            <li>Dinero
                            </li>
                            <li>Especie
                            </li>
                        </ul>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>

     <!--   <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                <ul class="cuatroTemas">
                    <li class="link">
                        <a>
                        ASISTENCIAS TÉCNICAS A ENTIDADES TERRITORIALES PARA ACTUALIZAR O 
                                                        FORMULAR SUS PLANES DE CONTINGENCIA
                        </a>

                        </li>
                        <ul>
                            <li>Asistencias</li>
                        </ul>
                        <li class="link"> 
                           <a >
                           SESIONES DE SEGUIMIENTO - ALERTAS TEMPRANAS
                        </a>
                            
                        </li>
                        <ul>
                            <li>Sesiones</li>
                        </ul>
                        <li class="Negrita"> 
                          
                                ENTIDADES TERRITORIALES APOYADAS
                          
                        </li>
                        <ul>
                            <li>para iniciativas y/o proyectos de inf. social y comunitaria
                            </li>
                            <li>En proyectos agropecuarios - seg. Alimentaria 
                            </li>
                        </ul>
                        <li class="Negrita"> 
                          
                                AYUDA HUMANITARIA EN ESPECIE EN ETAPA DE PREVENCIÓN
                          
                        </li>
                        <ul>
                            <li>Ayuda</li>
                        </ul>
                </ul>
            </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="" 
            frameborder="0"></iframe>
        </div>
    </div>
    -->
</div>
