<div class="contentFrecuentes">
    <h1>REQUERIMIENTOS FRECUENTES</h1>

    <h2>REPARACIÓN INDIVIDUAL (INDEMNIZACIÓN)</h2>

    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                AGENDAMIENTO
            </mat-panel-title>
          </mat-expansion-panel-header>
            
            <div class="contenidoRequerimientos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
                sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
            </div>

    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            TERMINOS VENCIDOS
        </mat-panel-title>
        </mat-expansion-panel-header>
            <div class="contenidoRequerimientos">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
            ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
            sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
            </div>
        
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            ESTADOS DE PAGOS
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="contenidoRequerimientos">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
        ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
        sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            TURNO GAC VENCIDO CON DOCUMENTACIÓN COMPLETA
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="contenidoRequerimientos">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
        ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
        sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            PRIORIZACIÓN PARA LA INDEMNIZACIÓN
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="contenidoRequerimientos">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
        ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
        sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            EXPLICACIÓN HECHOS VICTIMIZANTES QUE NO SON SUSDEPTIBLES DE REPARACIÓN
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="contenidoRequerimientos">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
        ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
        sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            EXPLICACIÓN REPARACIÓN MIEMBROS DE LA FUERZA PÚBLICA
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="contenidoRequerimientos">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
        ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
        sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            EXPLICACIÓN PAGO DE INDEMNIZACIÓN A DESTINATARIO FALLECIDO
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="contenidoRequerimientos">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
        ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
        sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
        </div>
    </mat-expansion-panel>

    <h2>RETORNOS Y REUBICACIONES</h2>

    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                EXPLICACIÓN DE ESQUEMAS DE RETORNOS (EXPLICACION Y AVANCES)
            </mat-panel-title>
          </mat-expansion-panel-header>
            
            <div class="contenidoRequerimientos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
                sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
            </div>
            
    </mat-expansion-panel>

    <h2>REPARACIÓN COLECTIVA</h2>

    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                EXPLICACIÓN DE LA RUTA DE REPARACION DE SUJETOS COLECTIVOS
            </mat-panel-title>
          </mat-expansion-panel-header>
            
            <div class="contenidoRequerimientos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
                sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
            </div>
            
    </mat-expansion-panel>

    <h2>FONDO DE REPARACIÓN</h2>

    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                EXPLICACIÓN DE FONDO (DIFICULTAD DE LA MONETIZACIÓN)
            </mat-panel-title>
          </mat-expansion-panel-header>
            
            <div class="contenidoRequerimientos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
                sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
            </div>
            
    </mat-expansion-panel>

    <h2>REPARACIÓN INTEGRAL</h2>

    <p> Explicación de todas las acciones para dar cumplimiento a cada una de las medidas: </p>

    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                RESTITUCIÓN
            </mat-panel-title>
          </mat-expansion-panel-header>
            
            <div class="contenidoRequerimientos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
                sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
            </div>
            
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                INDEMNIZACIÓN
            </mat-panel-title>
          </mat-expansion-panel-header>
            
            <div class="contenidoRequerimientos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
                sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
            </div>
            
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                SATISFACCIÓN
            </mat-panel-title>
          </mat-expansion-panel-header>
            
            <div class="contenidoRequerimientos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
                ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
                sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
            </div>
            
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            GARANTIAS DE NO REPETICIÓN
        </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="contenidoRequerimientos">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis est turpis. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
        ac turpis egestas. Vestibulum at viverra eros. Donec sed aliquet ipsum, 
        sit amet gravida leo. Pellentesque blandit lobortis mauris vel hendrerit.
        </div>
    </mat-expansion-panel>

</div>
