
<div class="contentTemas">
    <div class="cuadroTemas">

        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="Negrita">ACTOS ADMINISTRATIVOS QUE RECONOCEN O SUSPENDEN LA ENTREGA DE ATENCIÓN HUMANITARIA</li>
                        <ul>
                            <li>Reconocen</li>
                            <li>Suspenden</li>
                        </ul>
                        <li class="Negrita">ACTOS ADMINISTRATIVOS EMITIDOS EN SEDE DE REPOSICIÓN</li>
                        <ul>
                            <li>Reposición</li>
                        </ul>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>

     <!--   <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                <ul class="cuatroTemas">
                    <li class="Negrita">ACTOS ADMINISTRATIVOS QUE RECONOCEN O SUSPENDEN LA ENTREGA DE ATENCIÓN HUMANITARIA</li>
                            <ul>
                                <li>Reconocen</li>
                                <li>Suspenden</li>
                            </ul>
                            <li class="Negrita">ACTOS ADMINISTRATIVOS EMITIDOS EN SEDE DE REPOSICIÓN</li>
                            <ul>
                                <li>Reposición</li>
                            </ul>
                </ul>
            </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="" 
            frameborder="0"></iframe>
        </div>
    </div>
    -->
</div>
