<div class="contentTemas">

    <div class="tituloTemasN">
        <a href="https://app.powerbi.com/view?r=eyJrIjoiZmZhY2NjZDktNmVlYS00NTc3LThhZjctYTA4ZTU5MWRkODBjIiwidCI6IjU5NjRkOWYyLWFlYjYtNDhkOS1hNTNkLTdhYjVjYjFkMDdlOCIsImMiOjR9"
target="_blank" rel="noopener noreferrer">
{{title}}
</a>
    </div>

    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="https://app.powerbi.com/view?r=eyJrIjoiZmZhY2NjZDktNmVlYS00NTc3LThhZjctYTA4ZTU5MWRkODBjIiwidCI6IjU5NjRkOWYyLWFlYjYtNDhkOS1hNTNkLTdhYjVjYjFkMDdlOCIsImMiOjR9"
            frameborder="0"></iframe>
        </div>
    </div>

</div>
