
<div class="contentTemas">
    <div class="cuadroTemas">
        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="link">
                            <a routerLink="/dae/planes_cnarp"> FORMULACIÓN E IMPLEMENTACIÓN DE PLANES ESPECÍFICOS DIRIGIDOS A COMUNIDADES CNARP</a>
                        </li>
                        <li class="link">
                            <a routerLink="/dae/esq_esp_acom_com">ESQUEMAS ESPECIALES ACOMPAÑAMIENTO COMUNITARIO</a>
                        </li>
                        <li class="link">
                            <a routerLink="/dae/plan_retorno">PLAN DE RETORNO Y REUBICACIÓN </a>
                        </li>
                        <li class="link">
                            <a routerLink="/dae/sujetos_colectivos">SUJETOS COLECTIVOS</a>
                        </li>
                        <li class="link">
                            <a routerLink="/dae/reporte_acompanados">ACOMPAÑADOS RUTA INDIVIDUAL</a>
                        </li>
                        
                        <li class="Negrita">
                            COMUNIDADES ÉTNICAS ASISTIDAS TÉCNICAMENTE
                        </li>
                        <li class="Negrita">
                            AVANCE ACTUAL EN TEMAS DE SEGUIMIENTO EN LA RUTA DE RC
                        </li>
                        <ul>
                            <li>
                                Estas actas se están subiendo a MAARIV, numero de jornadas de seguimiento mensual sobre PIRC en fase de implementación
                            </li>
                        </ul>
                        <li class="Negrita">
                            ESPACIOS DE PARTICIPACIÓN
                        </li>
                        <ul>
                            <li>
                            Concertación, ordenes de autos, compromisos plan nacional de desarrollo, seguimiento a los PIRCT, seguimiento a órganos de control y comisión de seguimiento y monitoreo de los derechos ley, categorización escenarios de participación con territorialidad y periodicidad.
                            </li>
                        </ul>
                    </ul>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


