<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a mat-list-item routerLink="/drgi">Requerimientos frecuentes</a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/drgi/victimas_incluidas">Víctimas Incluidas</a>
      
      <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Via Administrativa
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>NÚMERO DE RECURSOS TRAMITADOS</p>
        <p>NÚMERO DE REVOCATORIAS EN RESPUESTA A
          AUTOS DE LA CORTE CONSTITUCIONAL</p>
      </mat-expansion-panel>

<a mat-list-item href="/drgi/individual">individual</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        DIRECCIÓN DE 
        REGISTRO Y GESTIÓN
        DE LA INFORMACIÓN
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
