<div class="contentFrecuentes">
    <h1>REQUERIMIENTOS FRECUENTES</h1>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        DEFINICIÓN DE VÍCTIMAS SEGÚN LOS DECRETOS LEY
    </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="contenidoRequerimientos">
        <ul>
        <li>Decreto Ley 4633 de 2011:</li>
        </ul>
        <ol>
        <li>Se consideran víctimas que hayan sufrido hechos victimizantes (violaciones a los derechos humanos y Derecho Internacional Humanitario), a partir de 1 de enero de 1985.</li>
        <li>Medidas de reparación simbólica que ayuden a eliminar todas las formas de discriminación racial y estructural, aceptación pública de los hechos, restablecimiento de la dignidad de las víctimas y los pueblos y comunidades indígenas.</li>
        <li>El territorio también se considera víctima.</li>
        </ol>
        <ul>
        <li>Decreto Ley 4634 de 2011:</li>
        </ul>
        <p style="padding-left: 30px;">Se consideran víctimas, para los efectos de este decreto, al pueblo Rrom o Gitano, las Kumpañy y a sus miembros individualmente considerados, que hayan sufrido un daño por hechos ocurridos a partir del 1° enero de 1985, como consecuencia de infracciones a los Derechos Humanos y al Derecho Internacional Humanitario ocurridas en el marco del conflicto armado interno.</p>
        <ul>
        <li>Decreto Ley 4635 de 2011:</li>
        </ul>
        <ol>
        <li>Se consideran víctimas que hayan sufrido hechos victimizantes (violaciones a los derechos Humanos y Derecho Internacional Humanitario), a partir de 1 de enero de 1985.</li>
        <li>También son víctimas: el conyugue o compañero (a) permanente, familia en primer grado de consanguinidad o civil de la víctima en los casos de muerte o desaparición.</li>
        <li>Para la Reparación Colectiva se tendrá en cuenta la familia extensa de acuerdo con los usos y costumbres de cada comunidad para estos casos.</li>
        </ol>
    </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        TÉRMINOS GENERALES
    </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="contenidoRequerimientos">
        <p><strong>Consulta Previa:</strong> En el artículo 6 del convenio 169 de la OIT, se establece que “Consultar a los pueblos interesados, mediante procedimiento apropiados y en particular a través de sus instituciones representativas, cada vez que se prevean medidas legislativas o administrativas susceptibles de afectarles directamente”. (Convenio 169 de la OIT).</p>
        <p><strong>Pervivencia Física y Cultural:</strong> es la garantía de la continuidad de los pobladores de una comunidad, de sus usos, costumbres y tradiciones, de sus formas sociales, organizativas y de gobierno, entre otros.</p>
        <p><strong>Auto-determinación:</strong> “es el derecho de un pueblo a decidir sus propias formas de gobierno, perseguir su desarrollo económico, social y cultural, y estructurarse libremente, sin injerencias externas y de acuerdo con el principio de igualdad” (Pacto Internacional de Derechos Económicos, Sociales y Culturales, ONU).</p>
        <p><strong>Identidad Cultural:</strong> Identidad cultural es el conjunto de valores, orgullos, tradiciones, símbolos, creencias y modos de comportamiento que funcionan como elementos dentro de un grupo social y que actúan para que los individuos que lo forman puedan fundamentar su sentimiento de pertenencia que hacen parte a la diversidad al interior de estas en respuesta a los intereses, códigos, normas y rituales que comparten dichos grupos dentro de la cultura dominante. (Berger y Luckman).</p>
        <p><strong>Sujetos de Especial Protección Constitucional:</strong> La categoría de sujeto de especial protección constitucional, según ha definido esta Corporación, se constituye por aquellas personas que debido a su condición física, psicológica o social particular merecen una acción positiva estatal para efectos de lograr una igualdad real y efectiva. (Sentencia T176 de 2011).</p>
    </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        ESTRUCTURAS ORGANIZATIVAS
    </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="contenidoRequerimientos">
        <p><strong>CONSEJO COMUNITARIO:</strong> De acuerdo con el Artículo 3º. Del Decreto 1745 los Consejos Comunitarios, rigen como persona jurídica que ejerce la máxima autoridad de administración interna dentro de las Tierras de las Comunidades Negras, de acuerdo con los mandatos constitucionales y legales que lo rigen y los demás que le asigne el sistema de derecho propio de cada comunidad. Al Consejo Comunitario lo integran la Asamblea General y la Junta del Consejo Comunitario.</p>
        <p><strong>CABILDO:</strong> Es una entidad pública especial, cuyos integrantes son miembros de una comunidad indígena, elegidos y reconocidos por ésta, con una organización sociopolítica tradicional, cuya función es representar legalmente a la comunidad, ejercer la autoridad y realizar las actividades que le atribuyen las leyes, sus usos, costumbres y el reglamento interno de cada comunidad. Para efectos de la representación del sujeto colectivo debe definirse si se trata de un cabildo local o menor, o un cabildo mayor.</p>
        <p><strong>RESGUARDO:</strong> son territorios ocupados por uno o más pueblos indígenas, que poseen reconocimiento oficial como propiedad colectiva, una organización propia y tienen un carácter de propiedad colectiva, inalienable, imprescriptible e inembargable. En su interior se ejercen los derechos colectivos reconocidos para las comunidades indígenas. (decreto 2164 de 1995).</p>
        <p><strong>KUMPANIA:</strong> Conjunto de grupos familiares configurados patrilinealmente (patrigrupos) – es decir, ser Rrom y pertenecer a este pueblo lo define la consanguinidad paterna-, que a partir de alianzas de diverso orden optan por compartir espacios para vivir cerca o para itinerar de manera conjunta. En Colombia, se ubican generalmente en sitios específicos de centros urbanos, ciudades principales e intermedias del país</p>
    </div>

    </mat-expansion-panel>

  
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        PROCEDIMIENTO DE CONSULTA PREVIA PARA LOS PLANES INTEGRALES DE REPARACIÓN COLECTIVA (PIRC)
    </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="contenidoRequerimientos">
        <p>En el marco de los Decretos Ley 4633, 4634 y 4635 de 201, la <em>consulta previa</em> de los Planes Integrales de Reparación Colectiva (PIRC) es definida como un derecho fundamental y es un proceso que debe guiarse por el principio de buena fe. La finalidad de la consulta previa en este caso será la definición de acuerdos o la de lograr el consentimiento con los pueblos étnicos, de acuerdo con el marco de la jurisprudencia de la Corte Constitucional y en el Convenio 169 de la Organización Internacional del Trabajo (OIT). </p>
        <p>En este sentido, es necesario hacer alusión al término <em>concertación</em>, que hace referencia a poner en consideración de las comunidades y de las instancias representativas las decisiones que pretenden adoptarse con el fin de llegar a un posible acuerdo. </p>
        <p>El proceso de consulta previa se requiere para concertar con las comunidades y pueblos étnicos el PIRC, el cual permitirá adoptar las medidas necesarias para garantizar la reparación integral a las víctimas étnicas y culturalmente diferenciadas. En este sentido, el PIRC es un instrumento técnico que permite la estructuración de las medidas de reparación colectiva, acordes con las necesidades concretas de las víctimas, teniendo en cuenta las particularidades culturales y territoriales de los pueblos étnicos a reparar. </p>
        <p>Adicionalmente, en el proceso de formulación de los PIRC se requiere hacer un proceso de <em>p</em><em>reconsulta</em> con las comunidades, en el cual se acordará la metodología, se definirá el cronograma de trabajo y las formas de gestión concretadas de manera autónoma por la comunidad en consulta. Además, se deberá determinar allí la hoja de ruta para el desarrollo de la consulta previa del diseño, elaboración, implementación y evaluación de los PIRC con el sujeto colectivo. Dicho procedimiento deberá ser adecuado y expedito con el fin de lograr la reparación integral, de forma pronta y efectiva. </p>
        <p>Por su parte, la Directiva Presidencial N.º 01 de 2010 establece las fases del proceso de consulta previa, que son:  i) preconsulta, ii) apertura del proceso, iii) talleres de identificación de impactos y definición de medidas de manejo, iv) preacuerdos, v) reunión de protocolización, vi) sistematización y seguimiento al cumplimiento de acuerdos, y vii) cierre del proceso de consulta previa. Estas fases se entenderán como un protocolo sugerido por el Grupo de Consulta Previa, y su aplicación estará supeditada a los acuerdos establecidos por la comunidad en consulta.  </p>
        <p>Sumado a lo anterior, se establecen en esta Directiva los siguientes mecanismos para el desarrollo de la consulta previa: </p>
        <ul>
        <li>Cuando sea necesario se expedirán resoluciones o actos administrativos, con el objeto de conminar el cumplimiento de todos los acuerdos previstos. </li>
        </ul>
        <ul>
        <li>El Ministerio del Interior determinará las características técnicas que deberán tener los documentos de proyectos, para establecer el diálogo intercultural que permita su total comprensión.  </li>
        <li>Participación directa, con apropiación de recursos, de las entidades que requieran regularmente adelantar procesos de consulta previa. </li>
        <li>Las entidades, organismos, empresas o titulares de proyectos deberán contar con las apropiaciones presupuestales necesarias para financiar los proyectos o acciones que requieren la garantía del derecho a la consulta previa. </li>
        <li>Los promotores de las iniciativas podrán identificar grupos de proyectos susceptibles de participar en procesos de consulta previa en una agenda común y presentar solicitudes consolidadas al Ministerio del Interior. El Ministerio determinará los grupos étnicos nacionales, las comunidades, los representantes, el área de influencia y los actores participantes en la consulta previa, así como los roles que desempeñará cada uno de ellos.  </li>
        <li>Los responsables de los proyectos deberán hacer las aclaraciones necesarias para el efectivo conocimiento y entendimiento de los mismos por parte de los grupos étnicos nacionales, así como establecer claramente las actividades en el corto, mediano y largo plazo que se prevean desarrollar en la ejecución. </li>
        </ul>
        <p>En relación con el apoyo logístico para llevar a cabo la consulta previa, entendido este como el conjunto de medios e infraestructura para llevar a cabo alguna actividad, se infiere que la competencia frente al tema de financiación recae sobre la Unidad para las Víctimas, siendo esta la promotora de la iniciativa y quien deberá realizar la reparación de impacto. No obstante, para el caso de las comunidades afrocolombianas, y teniendo en cuenta el importante rol que tiene la Dirección de Asuntos para Comunidades Negras del Ministerio del Interior en velar por la protección de la población objeto, en términos de garantía del derecho fundamental a la participación, se considera que se podrá apoyar presupuestalmente las actividades que demandan los procesos de consulta previa. </p>
        <p>Es necesario señalar que, en las etapas de preconsulta y consulta, el Ministerio del Interior será el responsable de coordinar con la Unidad para las Víctimas las metodologías y dinámicas de trabajo de los PIRC con enfoque diferencial de acuerdo con la experiencia adquirida en el desarrollo de los Planes de Salvaguarda y procesos de consulta previa, atendiendo los estándares nacionales e internacionales en la materia. Por su parte, la Unidad para las Víctimas será la responsable de aportar los recursos técnicos, económicos y humanos necesarios para el diseño, adopción, ejecución, evaluación y seguimiento de los PIRC. </p>
        <p>Dentro de la ruta de reparación colectiva, el proceso de consulta previa es transversal a las fases de alistamiento, caracterización de daños, y diseño y formulación del PIRC (ver gráfica 1). En la fase de alistamiento inicia la preconsulta, la cual debe culminar con los acuerdos metodológicos y logísticos necesarios para el desarrollo de la consulta previa, que será el marco de la formulación participativa del plan de reparación para grupos étnicos. </p>
        <p><em>Gráfica </em><em>1</em><em>. Ruta de</em><em> la</em><em> reparación colectiva</em> </p>
        <div class="imageWrapp">
            <img src="assets/images/ruta.png" alt="">
        </div>
        <p>En la fase de caracterización de daños se busca identificar con precisión los hechos ocurridos, los derechos vulnerados, las afectaciones sufridas y los posibles patrones y dinámicas de victimización. Se hace necesario tener presente todas las posibles dimensiones de los daños (sociales, económicas, culturales, políticas, psicosociales, institucionales, territoriales y ambientales), así como que un mismo hecho afecta de manera distinta a diferentes grupos poblacionales. Las actividades deben contar con amplia participación comunitaria y se deben sistematizar de modo que los resultados recopilados se socialicen, se debaten y se ajustan de acuerdo con lo convenido. </p>
        <p>Para la fase de diseño y formulación del PIRC se identifican las actividades o acciones que a </p>
        <p>juicio del sujeto repararían el daño identificado en la fase anterior. Su metodología corresponde explícitamente a la acordado en la consulta previa con cada sujeto colectivo. Lo anterior implica la participación del Ministerio del Interior y las entidades respectivas con sus competencias, así como las garantías para la participación de las víctimas, con especial énfasis en los sujetos de especial protección. </p>
        <p>El mecanismo de coordinación contemplado para las fases mencionadas son el Comité mensual de seguimiento para identificación de avances, obstáculos y concreción de estrategias para abordaje. Está conformado por un delegado del Ministerio del Interior, un delegado del Área de Reparación y un delegado del Área de Asuntos Étnicos de la Unidad para las Víctimas. </p>
        <p><strong>Competencias </strong><strong>d</strong><strong>el Ministerio </strong><strong>d</strong><strong>el Interior</strong> </p>
        <p>Según el artículo 133 del Decreto 4633 de 2011, tanto para la formulación del PIRC de comunidades y pueblos indígenas, como de las demás medidas que se establezcan a partir de la implementación de este decreto, se debe tener en cuenta “la Ley de Origen, la Ley Natural, Derecho Mayor, Derecho Propio y cosmovisión de cada pueblo y comunidad indígena” y “deberá ser consultado previamente de acuerdo con las metodologías que se definan con las autoridades y organizaciones de los pueblos y comunidades indígenas respectivas”. Adicionalmente, las autoridades tradicionales deben garantizar la participación de las mujeres indígenas en estos espacios, además que el Estado tiene el deber de facilitar la intervención de los pueblos indígenas que se encuentran fuera de su territorio. </p>
        <p>Asimismo, en el artículo 175 se establecen las funciones del Ministerio del Interior para el desarrollo de la consulta previa: </p>
        <ul>
        <li>Apoyar a la Coordinación de Pueblos y Comunidades Indígenas de la Unidad para las Víctimas en la consulta previa de los PIRC. </li>
        <li>Coordinar logísticamente la realización del proceso de consulta previa de los PIRC, dando cumplimiento a los estándares nacionales e internacionales. </li>
        </ul>
        <p>Para el caso del pueblo Rrom, las funciones del Ministerio del Interior están estipuladas en el artículo 98 del Decreto 4634 de 2011: </p>
        <ul>
        <li>Identificar durante el desarrollo de la fase de preconsulta las autoridades tradicionales y verificar la representatividad y legitimidad de las instituciones políticas de la comunidad.  </li>
        <li>Coordinar tanto la fase de preconsulta como el proceso mismo de la consulta previa de los PIRC. </li>
        </ul>
        <p>En el proceso de consulta previa del PIRC se acordará la metodología y se definirá el cronograma de trabajo y las formas de gestión precisadas de manera autónoma con la respectiva kumpania. </p>
        <p>Sobre el proceso de consulta previa para comunidades negras, afrocolombianas raizales y palenqueras, se siguen los lineamientos establecidos en el Decreto Ley 4635 de 2011 para la definición de competencias del Ministerio del Interior </p>
        <ul>
        <li>Coordinar tanto la fase de preconsulta como el proceso mismo de la consulta previa de los PIRC. </li>
        </ul>
        <ul>
        <li>En la fase de preconsulta identificar a las autoridades y representantes de las comunidades y verificar la representatividad y legitimidad de las instituciones políticas de la comunidad. </li>
        <li>Identificar los daños y afectaciones colectivas de las comunidades y construir conjuntamente la caracterización de los daños colectivos de las comunidades.  </li>
        <li>Apoyar y acompañar el proceso de caracterización unificada de los daños y afectaciones para la reparación y restitución </li>
        <li>Una vez se haya surtido la etapa de preconsulta, consultar el PIRC propuesto por el Gobierno Nacional de conformidad con la información y caracterización obtenida en la fase de preconsulta, siguiendo el procedimiento y hoja de ruta acordado con la comunidad respectiva. </li>
        </ul>
    </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        PLANES ESPECÍFICOS DE PREVENCIÓN, PROTECCIÓN Y ASISTENCIA
    </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="contenidoRequerimientos">
        <p><strong>DAE - PLANES ESPECÍFICOS DE PREVENCIÓN, PROTECCIÓN Y ASISTENCIA (PE)</strong></p>
        <p>¿QUÉ SON?</p>
        <p>Los Planes Específicos de Prevención, Protección y Asistencia son instrumentos que permiten identificar la situación y los riesgos específicos de las comunidades afrocolombianas, con el fin de adoptar medidas concretas de acuerdo con sus condiciones y necesidades; son ordenados por el Auto 005 de 2009 en su orden No. 3.</p>
        <p><strong>¿QUÉ HACE Y CUÁL ES EL OBJETO CON EL MINISTERIO DEL INTERIOR DEL AUTO 005 DE 2009?</strong></p>
        <p>El Auto 005 hace seguimiento a la Sentencia T-025 de 2004 y tiene por objeto proteger los derechos fundamentales de las comunidades afrocolombianas afectadas por el desplazamiento forzado interno.</p>
        <p>En este sentido, el Auto 005 cuenta con antecedentes y fundamentos constitucionales como:</p>
        <ul>
        <li>Elementos enmarcados en los derechos humanos para las comunidades y sus miembros como sujetos de especial protección.</li>
        <li>Conocimiento sobre la situación actual que enfrenta la población afrocolombiana desplazada y caracterización del fenómeno.</li>
        <li>Factores transversales que inciden en el desplazamiento de la población afrocolombiana.</li>
        <li>Riesgos que demuestran el impacto desproporcionado que tiene el desplazamiento forzado interno en relación con los derechos individuales y colectivos de estas comunidades.</li>
        <li>Respuesta estatal y valoración de la política pública de atención al desplazamiento.</li>
        <li>Presenta medidas a adoptar y decisiones (órdenes) para implementar.</li>
        </ul>
        <p><strong>RUTA PARA LA ELABORACIÓN E IMPLEMENTACIÓN DE LOS PLANES ESPECÍFICOS DISEÑADA POR LA UNIDAD EN COORDINACIÓN CON EL MINISTERIO DEL INTERIOR</strong></p>
        <ol>
        <li>Construcción concertada de los Planes.</li>
        <li>Priorización de las comunidades y consejos comunitarios.</li>
        <li>Solicitud ante el Ministerio del Interior de los censos de las comunidades y consejos comunitarios.</li>
        <li>Revisión del Plan de caracterización socioeconómico.</li>
        <li>Adición de información en cuanto a aplicación de mínimos requeridos.</li>
        <li>Elaboración del documento preliminar.</li>
        <li>Concertación de la consulta previa.</li>
        <li>Actualización de la matriz de planes específicos.</li>
        <li>Socialización de las medidas de los Planes específicos con las entidades del SNARIV.</li>
        <li>Protocolización de los planes específicos.</li>
        <li>Formulación de proyectos (medidas).</li>
        <li>Entrega e implementación de proyectos.</li>
        <li>Seguimiento a la implementación.</li>
        </ol>
        <p><strong>FACTORES TRANSVERSALES DEL AUTO 005 DE 2009</strong></p>
        <p>Según lo establecido por La Corte Constitucional, existen tres factores transversales que inciden en el desplazamiento forzado de los pueblos afrocolombianos y agravan su situación de riesgo:</p>
        <ol>
        <li>Exclusión social estructural.</li>
        <li>Proyectos de explotación minera y de monocultivos.</li>
        <li>Inaplicación de mecanismos e instrumentos constitucionales para la protección efectiva de los territorios colectivos y ancestrales.</li>
        </ol>
        <p><strong>FACTORES DE RIESGO DEL AUTO 005 DE 2009</strong></p>
        <ol>
        <li>Vulneración de los derechos territoriales de estas comunidades.</li>
        <li>Destrucción social y cultural de las comunidades negras.</li>
        <li>Afectación y debilitamiento de su derecho a la participación</li>
        <li>Agudización de la pobreza y de la crisis humanitaria de estas comunidades.</li>
        <li>Racismo y la discriminación racial.</li>
        <li>Desatención para las comunidades que optan por la resistencia y el</li>
        <li>Vulneración del derecho a la protección estatal y el desconocimiento del deber de prevención del desplazamiento forzado, del confinamiento y de la resistencia.</li>
        <li>Afectación del derecho a la seguridad alimentaria.</li>
        <li>Ocurrencia de retornos sin condiciones de seguridad, voluntariedad y dignidad.</li>
        </ol>
    </div>

    </mat-expansion-panel>

</div>
