
<div class="contentTemas">
    <div class="cuadroTemas">

        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="link">
                            <a routerLink="/dgi/victimas_superaron_sv">
                            VÍCTIMAS QUE HAN SUPERADO LA SITUACIÓN DE VULNERABILIDAD:
                        </a></li>
                        <p>
                            Medición semestral que realiza la Red Nacional de
                             Información en cumplimiento 
                            al Decreto 1084 de 2015, y la Resolución 2200 de 2018.
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/sol_acceso_oferta">
                                SOLICITUDES DE ACCESO A OFERTA
                            </a>
                        </li>
                        <p>
                            Interoperabilidad con herramienta SIGO, a través de la bandeja 
                            de solicitudes de acceso a oferta social de la población víctima.
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/balance_acceso_efectivo">
                                BALANCE DE ACCESO EFECTIVO DE LAS VÍCTIMAS A LA OFERTA
                            </a>
                        </li>
                        <p>
                            Cruce de información que realiza la Red Nacional de 
                            Información a partir
                             a los registros administrativos de acceso a oferta – Medición SSV.
                        </p>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>

     <!--   <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                    <ul class="cuatroTemas">
                        <li class="link">
                            <a routerLink="/dgi/victimas_superaron_sv">
                            VÍCTIMAS QUE HAN SUPERADO LA SITUACIÓN DE VULNERABILIDAD:
                        </a></li>
                        <p>
                            Medición semestral que realiza la Red Nacional de
                             Información en cumplimiento 
                            al Decreto 1084 de 2015, y la Resolución 2200 de 2018.
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/sol_acceso_oferta">
                                SOLICITUDES DE ACCESO A OFERTA
                            </a>
                        </li>
                        <p>
                            Interoperabilidad con herramienta SIGO, a través de la bandeja 
                            de solicitudes de acceso a oferta social de la población víctima.
                        </p>
                        <li class="link"> 
                            <a routerLink="/dgi/balance_acceso_efectivo">
                                BALANCE DE ACCESO EFECTIVO DE LAS VÍCTIMAS A LA OFERTA
                            </a>
                        </li>
                        <p>
                            Cruce de información que realiza la Red Nacional de 
                            Información a partir
                             a los registros administrativos de acceso a oferta – Medición SSV.
                        </p>
                    </ul>
                </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="" 
            frameborder="0"></iframe>
        </div>
    </div>
    -->
</div>
