<div class="contentTemas">
    <div class="cuadroTemas">
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                <ul class="cuatroTemas">
                    <li class="Negrita"> 
                        SRC INCLUIDOS EN EL RUV
                    </li>
                    <ul>
                        <li>SRC étnicos</li>
                        <li>No étnicos</li>
                    </ul>
                    <li class="Negrita"> 
                        FASE EN LA QUE SE ENCUENTRA EL SRC
                    </li>
                    <ul>
                       <li>SRC que han culminado el proceso e inversión aprox. </li>
                       <li>SRC a los que se les ha reconocido el pago de indemnización y monto total</li>
                    </ul>
                    <li class="Negrita"> 
                            ACCIONES CON LOS SRC
                    </li>
                    <ul>
                        <li>De fortalecimiento con los SRC y el monto total</li>
                        <li>De rehabilitación comunitaria con los SRC y monto total
                        </li>
                        <li>Reparadoras implementadas en cumpliento del PIRC y monto total
                        </li>
                    </ul>
                </ul>
            </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="https://app.powerbi.com/view?r=eyJrIjoiOTYyMTExZmUtMzBlNC00YWY1LTljOTEtM2EzMTUxZjE2OGNkIiwidCI6IjU5NjRkOWYyLWFlYjYtNDhkOS1hNTNkLTdhYjVjYjFkMDdlOCIsImMiOjR9&pageName=ReportSection" 
            frameborder="0"></iframe>
        </div>
    </div>

</div>