<div class="contentTemas">

    <div class="tituloTemasN">
        <a href="https://app.powerbi.com/view?r=eyJrIjoiYWE4YzE3ZWItYTQ5Yi00NDU0LTlmOGQtMGY0ZjQxMTc4OGFhIiwidCI6IjU5NjRkOWYyLWFlYjYtNDhkOS1hNTNkLTdhYjVjYjFkMDdlOCIsImMiOjR9&amp;pageName=ReportSection"
        target="_blank" rel="noopener noreferrer">
        {{title}}
        </a>
    </div>

    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="https://app.powerbi.com/view?r=eyJrIjoiYWE4YzE3ZWItYTQ5Yi00NDU0LTlmOGQtMGY0ZjQxMTc4OGFhIiwidCI6IjU5NjRkOWYyLWFlYjYtNDhkOS1hNTNkLTdhYjVjYjFkMDdlOCIsImMiOjR9&amp;pageName=ReportSection" 
            frameborder="0"></iframe>
        </div>
    </div>

</div>