<div class="contentTemas">
    <div class="cuadroTemas">
        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="Negrita">
                            PLANES Y ACCIONES DE RYR 
                        </li>
                        <ul>
                            <li>Hogares que han accedido al componente de transporte y traslado de enseres en el proceso de RyR
                            </li>
                        </ul>
                        <li class="Negrita"> 
                           ESQUEMAS ESPECIALES DE ACOMPAÑAMIENTO
                        </li>
                        <ul>
                            <li>Número de hogares que recibieron esquemas especiales de acompañamiento familiar y valor promedio
                            </li>
                            <li>Número de esquemas especiales de acompañamiento comunitario entregados y valor
                            </li>
                        </ul>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


