<div class="contentTemas">
    <div class="cuadroTemas">
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    <a href="https://app.powerbi.com/view?r=eyJrIjoiZmZhMGIyYjktNDgzOS00MjBlLTkxZmQtNjBlNWY0ZmYzYmNlIiwidCI6IjU5NjRkOWYyLWFlYjYtNDhkOS1hNTNkLTdhYjVjYjFkMDdlOCIsImMiOjR9"
target="_blank" rel="noopener noreferrer">
{{title}}
</a>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                <ul class="cuatroTemas">
                    <li class="Negrita">
                        PLANES Y ACCIONES DE RYR 
                    </li>
                    <ul>
                        <li>Hogares que han accedido al componente de transporte y traslado de enseres en el proceso de RyR
                        </li>
                    </ul>
                    <li class="Negrita"> 
                       ESQUEMAS ESPECIALES DE ACOMPAÑAMIENTO
                        
                    </li>
                    <ul>
                        <li>Número de hogares que recibieron esquemas especiales de acompañamiento familiar y valor promedio
                        </li>
                        <li>Número de esquemas especiales de acompañamiento comunitario entregados y valor
                        </li>
                    </ul>
                </ul>
            </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="https://app.powerbi.com/view?r=eyJrIjoiZmZhMGIyYjktNDgzOS00MjBlLTkxZmQtNjBlNWY0ZmYzYmNlIiwidCI6IjU5NjRkOWYyLWFlYjYtNDhkOS1hNTNkLTdhYjVjYjFkMDdlOCIsImMiOjR9" 
            frameborder="0"></iframe>
        </div>
    </div>

</div>
