<div class="contentTemas">
    <div class="cuadroTemas">
        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="Negrita">
                           
                            SUJETOS ETNICOS DE REPARACION COLECTIVA
                        </li>
                        <li class="Negrita"> 
                            AVANCE EN RUTA DE REPARACION COLECTIVA ETNICA
                        </li>
                        <li class="link"> 
                            <a routerLink="/dae/Seg_Medida_Indem_Colectiva">
                                SEGUIMIENTO MEDIDA INDEMNIZACION COLECTIVA
                            </a>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>