
<div class="contentTemas">
    <div class="cuadroTemas">

        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <!--
                    <ul class="cuatroTemas">
                        <li class="Negrita">
                            AVANCE EN LA FORMULACIÓN Y PROTOCOLIZACIÓN DE LOS PLANES INTEGRALES DE REPARACIÓN COLECTIVA - PIRC PARA SUJETOS ÉTNICOS
                        </li>
                        <ul>
                            <li>Estado fase de implementación PIRC:  8 sujetos étnicos en fase de identificación
                            </li>
                        </ul>
                        <li class="Negrita">
                            LISTADOS CENSALES DE POBLACIÓN ÉTNICA
                        </li>
                        <li class="Negrita">
                            MEDIOS DE VIDA (ARMONIZACIÓN DE ACCIONES PARA ACOMPAÑAR RYR DE SUJETOS ÉTNICOS)
                        </li>
                    </ul>
                -->
                    <ul class="cuatroTemas">
                        <li class="Negrita">
                            FORMULACIÓN E IMPLEMENTACIÓN DE PLANES ESPECÍFICOS DIRIGIDOS A COMUNIDADES CNARP
                        </li>
                        <li class="Negrita">
                            COMUNIDADES ÉTNICAS ASISTIDAS TÉCNICAMENTE
                        </li>
                        <li class="Negrita">
                            AVANCE ACTUAL EN TEMAS DE SEGUIMIENTO EN LA RUTA DE RC
                        </li>
                        <ul>
                            <li>
                                Estas actas se están subiendo a MAARIV, numero de jornadas de seguimiento mensual sobre PIRC en fase de implementación
                            </li>
                        </ul>
                        <li class="Negrita">
                            ESPACIOS DE PARTICIPACIÓN
                        </li>
                        <ul>
                            <li>
                            Concertación, ordenes de autos, compromisos plan nacional de desarrollo, seguimiento a los PIRCT, seguimiento a órganos de control y comisión de seguimiento y monitoreo de los derechos ley, categorización escenarios de participación con territorialidad y periodicidad.
                            </li>
                        </ul>
                    </ul>

                </div>
            </mat-card-content>
        </mat-card>

     <!--   <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                    
                </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="" 
            frameborder="0"></iframe>
        </div>
    </div>
    -->
</div>

