<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
     
        <div class="reqFrec">
          <strong>
            DIRECCIÓN  <br/>
            DE ASUNTOS<br/>
            ÉTNICOS
          </strong>
          
        </div>
      <mat-nav-list>
      
        <a mat-list-item routerLink="/dae/general" routerLinkActive="active-list-item">Generales</a>

        <mat-expansion-panel class='ExpanIndex' (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item routerLink="/dae/sujetos_etnicos_registro" routerLinkActive="active-list-item">Sujetos étnicos en registro</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expandLinks">
            <a mat-list-item routerLink="/dae/" routerLinkActive="active-list-item">Individual</a>
            <a mat-list-item routerLink="/dae/sujetos_colectivos" routerLinkActive="active-list-item">Colectivos</a>
          </div>
        </mat-expansion-panel>


        <mat-expansion-panel class='ExpanIndex' (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item routerLink="/dae/reparacion_colectiva" routerLinkActive="active-list-item">Reparación colectiva</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expandLinks">
            <a mat-list-item routerLink="/dae/" routerLinkActive="active-list-item">Sujetos etnicos de reparación colectiva</a>
            <a mat-list-item routerLink="/dae/" routerLinkActive="active-list-item">Avance en ruta de reparación colectiva étnica</a>
            <a mat-list-item routerLink="/dae/Seg_Medida_Indem_Colectiva" routerLinkActive="active-list-item">Seguimiento medida indemnización colectiva</a>
          </div>
          
        </mat-expansion-panel>

        <mat-expansion-panel class='ExpanIndex' (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item routerLink="/dae/retornos_reubicaciones" routerLinkActive="active-list-item">Retornos y reubicaciones</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expandLinks">
            <a mat-list-item routerLink="/dae/esq_esp_acom_com" routerLinkActive="active-list-item">Esq. Esp de Acompañamiento Comunitario</a>
            <a mat-list-item routerLink="/dae/" routerLinkActive="active-list-item">Retorno hogares</a>
            <a mat-list-item routerLink="/dae/reporte_acompanados" routerLinkActive="active-list-item">Acompañados Ruta Individual</a>
            <a mat-list-item routerLink="/dae/plan_retorno" routerLinkActive="active-list-item">Planes de Retorno y Reubicación comunitarios</a>
          </div>
          
        </mat-expansion-panel>

        <a mat-list-item routerLink="/dae/" routerLinkActive="active-list-item">Comunidades etnicas asistidas técnicamente</a>
        <a mat-list-item routerLink="/dae/planes_cnarp" routerLinkActive="active-list-item">Planes esp. de prevención, proteccion y asistencia</a>
        
        
        <a class="itemRequerimientos" mat-list-item
         routerLink="/dae/requerimientos_frecuentes" routerLinkActive="active-list-item">
          <div class="textosRequerimientos">
            Requerimientos Frecuentes
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="TituloIndice">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
       
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet>
      </router-outlet>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  