<h1>REQUERIMIENTOS FRECUENTES</h1>
<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
           NOVEDADES Y ACTUALIZACIONES
        </mat-panel-title>
      </mat-expansion-panel-header>
        
    <div id="collapseActualizaciones">
        <div >
        <h4>
            NOVEDADES Y ACTUALIZACIONES 
        </h4>
        <h5>
            Actualización 
        </h5>
            <p>
                Una actualización en el Registro Único de Víctimas consiste en la inclusión de 
                novedades en la información respecto de los datos personales de las víctimas. 
                En estos casos se puede tramitar directamente ante la Unidad para las Víctimas las 
                siguientes actualizaciones: 

            </p>
            <ul>
                <li>
                    Cambio de ciudad 
                </li>
                <li>
                    Cambio de domicilio dentro de la misma ciudad 
                </li>
                <li>
                    Cambio de número telefónico 
                </li>
                <li>
                    Cambio de correo electrónico 
                </li>
            </ul>

            <p>
                Este trámite se puede realizar a través de 
                los siguientes canales telefónicos y virtuales: 
            </p>


            <ul>
                <li>
                    Línea telefónica en Bogotá (+571) 4261111 
                </li>
                <li>
                    Línea telefónica de atención nacional 01 8000 911119 
                </li>
                <li>
                    Por chat o video chat, ingresando a www.unidadvictimas.gov.co 
                </li>
                <li>
                    Enviando un mensaje al correo electrónico 
                    servicioalciudadano@unidadvictimas.gov.co  
                </li>
            </ul>

            <p>
                Para realizar este trámite se debe suministrar 
                la siguiente información: 
            </p>

            <ul>
                <li>
                    Nuevos datos de contacto y el tipo de actualización que se desea tramitar. 
                </li>
                <li>
                    Toda la información solicitada o necesaria con el fin de registrarla en el sistema.
                </li>
            </ul>

            <h5>
                Novedad 
            </h5>

            <p>
                Una novedad supone un cambio sustancial sobre la información de las personas 
                incluidas en el Registro Único de Víctimas o la composición del grupo familiar. 
                El proceso de novedades debe realizarse cuando algún miembro del núcleo familiar 
                presente alguna de las siguientes situaciones: 
            </p>

            <ul>
                <li>
                    Error en el documento de identidad (nombres, apellidos,
                    tipo y número de documento, fechas, entre otros). 
                </li>
                <li>
                    Cambio de nombres, para el cual se requiere escritura
                    pública que acredite la situación indicada. 
                </li>
                <li>
                    Menores para incluir en el Registro Único de 
                    Víctimas por el hecho victimizante de 
                    desplazamiento forzado. 
                </li>
                <li>
                    Discapacidad. 
                </li>
                <li>
                    Pertenencia a algún grupo étnico.  
                </li>
                <li>
                    Orientación sexual. 
                </li>
                <li>
                    Cambio de jefe de hogar. 
                </li>
                <li>
                    Aclaración de parentesco. 
                </li>
                <li>
                    Estado de fallecido. 
                </li>
            </ul>

            <p>
                Para las solicitudes de novedades que se realicen 
                sobre un niño, niña o adolescente se requiere que las realice 
                el representante legal (tutor). 
            </p>

        </div>
    </div>

</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        RECEPCIÓN DE SOLICITUDES DE INGRESO AL REGISTRO ÚNICO DE VÍCTIMAS (RUV) 
    </mat-panel-title>
    </mat-expansion-panel-header>

      <div>
        <h4>
         RECEPCIÓN DE SOLICITUDES DE INGRESO AL REGISTRO ÚNICO DE VÍCTIMAS (RUV) 
        </h4>
        
         <p>
             Las personas que se consideren víctimas del conflicto deben 
             acercarse ante una oficina del Ministerio Público (personerías 
             municipales, defensorías regionales y procuradurías provinciales 
             o regionales) o ante un consulado de Colombia para las residentes 
             en el exterior, para solicitar su ingreso al Registro Único de 
             Víctimas (RUV). Allí, el funcionario responsable le realizará una 
             serie de preguntas por medio del Formato Único de Declaración (FUD).
         </p>

         <p>
             La Unidad para las Víctimas se encarga de realizar el 
             envío de los FUD en físico o archivo magnético a todas 
             las oficinas del Ministerio Público y consulados que 
             tienen a su cargo la atención a víctimas, previa 
             solicitud por medio telefónico, correo certificado y/o 
             correo electrónico. 
         </p>

         <p>
             Luego de diligenciados los formatos físicos, la 
             Entidad dispone de guías a las Direcciones Territoriales para que estas 
             envíen toda la documentación generada en el marco de la operación del RUV, 
             incluidos los FUD. Las oficinas del Ministerio Público pueden remitir las 
             solicitudes directamente a Bogotá a las instalaciones de la Unidad para las 
             Victimas, por medio de la empresa de mensajería o enviarlas a la Dirección 
             Territorial. 
         </p>

         <p>
             Una vez las solicitudes se reciben en la Unidad, la documentación surte un 
             proceso de alistamiento, radicación y digitalización del expediente, que 
             permiten ingresar toda la información consignada allí en los sistemas informativos 
             dispuestos para tal fin y que soportan la operación del RUV, con el objetivo 
             de que puedan seguir con el proceso de análisis y valoración de las declaraciones 
             para emitir una decisión sobre su inscripción en el RUV. 
         </p>

         <h5>
             Toma de Declaración en Línea
         </h5>

         <p>
             Con la intención de facilitar la toma de declaraciones y continuar con el trámite 
             de las solicitudes de inscripción en el RUV, la Unidad para las Víctimas, a través 
             de la Dirección de Registro y Gestión de la Información, dispone del aplicativo web 
             para la toma de declaraciones en línea. 
         </p>

         <p>
             Con este aplicativo el funcionario del Ministerio Público o del Consulado que atienda 
             a las víctimas del conflicto realiza la toma de declaraciones con mayor facilidad y 
             calidad. Esto, además de optimizar el diligenciamiento del FUD, ayuda a que el proceso 
             que continúa luego de la toma de la declaración sea más rápido y se puedan obtener 
             resultados más eficaces para las víctimas. 
         </p>

         <p>
             Automatizar y mejorar los procesos en la toma de la declaración permite a las entidades 
             que conforman el Ministerio Público brindar una oportuna atención a las víctimas en todo 
             el país. 
         </p>
         
     </div>
</mat-expansion-panel>