
<div class="pagF">

    <div style="position: relative;">


        <section class="paginas" id="paginaIndice">
            <div class="w-100">

                <div class="row pt-lg-4">
                    <div class="col-12">
                        <div class="headerpag">
                            <div class="elFuturo">
                                <img src="assets/images/LogoUnidadFooter.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row pt-lg-3">
                    <div class="col-7 col-lg-4 headerOsc">
                        <div class="t1">Cifras estratégicas</div>
                        <div class="t2">Unidad para las Víctimas</div>
                        <div class="t3">Septiembre 2020</div>
                    </div>
                    <div class="col-5 col-lg-8">
                        <div class="logoCifrasWrap">
                            <img src="assets/images/logoCifras.svg" alt="logoCifras.svg">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-3 offset-1 cuerpoIndice">
                        <div class="row h-100">
                            <div class="col-12 d-flex justify-content-end align-items-center">
                                <a routerLink="/generales_inversion" class="linkIndice">Generales e inversión</a>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-8 cuerpoIndice">
                        <div class="row">
                            <div class="col-3 d-flex justify-content-end">
                                <a routerLink="/drgi"  class="linkIndice">(DRGI)</a>
                            </div>
                            <div class="col-9">
                                <div class="itemIndice">
                                    Dirección de Registro y Gestión de la Información
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 d-flex justify-content-end">
                                <a routerLink="/dr" class="linkIndice">(DR)</a>
                            </div>
                            <div class="col-9">
                                <div class="itemIndice">
                                    Dirección de Reparaciones
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 d-flex justify-content-end">
                                <a routerLink="/dgsh" class="linkIndice">(DGSH)</a>
                            </div>
                            <div class="col-9">
                                <div class="itemIndice">
                                    Dirección de Gestión Social y Humanitaria
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 d-flex justify-content-end">
                                <a routerLink="/dgi" class="linkIndice">(DGI)</a>
                            </div>
                            <div class="col-9">
                                <div class="itemIndice">
                                    Dirección de Gestión Interinstitucional
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 d-flex justify-content-end">
                                <a routerLink="/dae" class="linkIndice">(DAE)</a>
                            </div>
                            <div class="col-9">
                                <div class="itemIndice">
                                    Dirección Asuntos Étnicos
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 d-flex justify-content-end">
                                <a routerLink="/oaj" class="linkIndice">(OAJ)</a>
                            </div>
                            <div class="col-9">
                                <div class="itemIndice">
                                    Oficina Asesora Jurídica
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-3 d-flex justify-content-end">
                                <a routerLink="/sg" class="linkIndice">(SG)</a>
                            </div>
                            <div class="col-9">
                                <div class="itemIndice1">
                                    Subdirección General
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 d-flex justify-content-end">
                                <a routerLink="/observatorio" class="linkIndice">(OBS)</a>
                            </div>
                            <div class="col-9">
                                <div class="itemIndice1">
                                    Observatorio
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
        
                <div class="row">
                    <div class="pt-3 pl-5 pl-md-2 offset-4 col-8 nombresIndice">
                        <div class="nombresIndF">
                            <div class="nombresIndT1">Director General:</div>
                            <div class="nombresIndT2">Ramón Alberto Rodríguez Andrade</div>
                        </div>
                        <div class="nombresIndF">
                            <div class="nombresIndT1">Subdirectora General:</div>
                            <div class="nombresIndT2">Katherin Lorena Mesa Mayorga</div>
                        </div>
                        <div class="nombresIndF">
                            <div class="nombresIndT1">Director de Registro y Gestión de la Información:</div>
                            <div class="nombresIndT2">Emilio Alberto Hernández Díaz</div>
                        </div>
                        <div class="nombresIndF">
                            <div class="nombresIndT1">Subdirectora Red Nacional de Información:</div>
                            <div class="nombresIndT2">Sandra del Pilar Ramírez Barrios</div>
                        </div>
                        <div class="nombresIndF">
                            <div class="nombresIndT1">Jefe de la Oficina de Tecnologías de la Información:</div>
                            <div class="nombresIndT2">Victor Durán Martinez</div>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-12">
                        <div class="footerPag">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    
</div>