<div class="contentTemas">
    <div class="cuadroTemas">
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                <ul class="cuatroTemas">
                    <li class="Negrita"> 
                        DESPLAZAMIENTO FORZADO
                   </li>
                    <ul>
                        <li>
                            Colocación de Atención Humanitaria
                        </li>
                        <ul>
                            <li>Giros</li>
                            <li>Hogares</li>
                            <li>Valor
                            </li>
                        </ul>
                        <li>
                            Cobro efectivo
                        </li>
                        <ul>
                            <li>Giros
                            </li>
                            <li>Hogares
                            </li>
                            <li>Valor
                            </li>
                        </ul>
                        <li>
                            Reintegros
                        </li>
                        <ul>
                            <li>Giros
                            </li>
                            <li>Hogares
                            </li>
                            <li>Valor
                            </li>
                        </ul>
                    </ul>
                    <li class="Negrita"> 
                        HECHOS DIFERENTES A DESPLAZAMIENTO FORZADO
                    </li>
                    <ul>
                        <li>
                            Colocación de Ayuda Humanitaria
                        </li>
                        <ul>
                            <li>Giros</li>
                            <li>Hogares</li>
                            <li>Valor</li>
                        </ul>
                        <li>
                            Cobro efectivo
                        </li>
                        <ul>
                            <li>Giros</li>
                            <li>Hogares</li>
                            <li>Valor</li>
                        </ul>
                    
                        <li>
                            Reintegros
                        </li>
                        <ul>
                            <li>Giros</li>
                            <li>Hogares</li>
                            <li>Valor</li>
                        </ul>
                    </ul>
                </ul>

            </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="https://app.powerbi.com/view?r=eyJrIjoiMDBiMWVlMWYtOWE0Ni00NzZhLTkzYzEtYTliYmI0NjM4YjdlIiwidCI6IjU5NjRkOWYyLWFlYjYtNDhkOS1hNTNkLTdhYjVjYjFkMDdlOCIsImMiOjR9" 
            frameborder="0"></iframe>
        </div>
    </div>

</div>
