<div class="contentTemas">
    <div class="cuadroTemas">
        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="link">
                            <a routerLink="/dae/esq_esp_acom_com">
                                ESQUEMAS ESPECIALES DE ACOMPAÑAMIENTO 
                            </a>
                        </li>
                        <li class="Negrita">
                            RETORNO HOGARES
                        </li>
                        <li class="link">
                            <a routerLink="/dae/reporte_acompanados">
                                ACOMPAÑADOS RUTA INDIVIDUAL
                            </a>
                        </li>
                        <li class="link">
                            <a routerLink="/dae/plan_retorno">
                                PLANES DE RETORNOS Y REUBICACIÓN COMUNITARIOS
                            </a>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
