
<div class="contentTemas">
    <div class="cuadroTemas">

        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="Negrita">
                            PROYECTOS DE INVERSIÓN DE LAS ENTIDADES DEL SNARIV – AUTO 219
                        </li>
                        <p>
                            Información de los presupuestos y programas aprobados en el 
                            marco de la Orden 5 del Auto 219 para cada una de las entidades 
                            accionadas.
                        </p>
                        <li class="Negrita"> 
                            ENTIDADES NACIONALES CERTIFICADAS - GED
                        </li>
                        <p>
                            Información de las entidades y sus calificaciones 
                            a propósito de la evaluación que desarrolla la SCTSNARIV 
                            para emitir el Certificado de Contribución de Goce 
                            Efectivo de Derechos GED.
                        </p>
                        <li class="Negrita"> 
                           
                                PLANES DE ACCIÓN ARTICULADOS
                          
                        </li>
                        <p>
                            Entidades que tienen Planes de Acción aprobados.
                        </p>
                        <li class="Negrita"> 
                           
                                ALIANZAS ESTRATÉGICAS DE EDUCACIÓN SUPERIOR REVISADAS, ARTICULADAS Y GESTIONADAS
                          
                        </li>
                        <p>
                            Información de las alianzas estratégicas de educación superior.
                        </p>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>

     <!--   <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="tituloTemas">
                    {{title}}
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div>
                    <ul lass="cuatroTemas">
                        <li class="Negrita">
                            PROYECTOS DE INVERSIÓN DE LAS ENTIDADES DEL SNARIV – AUTO 219
                        </li>
                        <p>
                            Información de los presupuestos y programas aprobados en el 
                            marco de la Orden 5 del Auto 219 para cada una de las entidades 
                            accionadas.
                        </p>
                        <li class="Negrita"> 
                            
                                ENTIDADES NACIONALES CERTIFICADAS - GED
                          
                        </li>
                        <p>
                            Información de las entidades y sus calificaciones 
                            a propósito de la evaluación que desarrolla la SCTSNARIV 
                            para emitir el Certificado de Contribución de Goce 
                            Efectivo de Derechos GED.
                        </p>
                        <li class="Negrita"> 
                           
                                PLANES DE ACCIÓN ARTICULADOS
                          
                        </li>
                        <p>
                            Entidades que tienen Planes de Acción aprobados.
                        </p>
                        <li class="Negrita"> 
                           
                                ALIANZAS ESTRATÉGICAS DE EDUCACIÓN SUPERIOR REVISADAS, ARTICULADAS Y GESTIONADAS
                          
                        </li>
                        <p>
                            Información de las alianzas estratégicas de educación superior.
                        </p>
                    </ul>
                </div>
        </mat-expansion-panel>
    </div>
    
    <div class="iframeCanva">
        <div class="content">
            <iframe width="100%" height="90%" 
            src="" 
            frameborder="0"></iframe>
        </div>
    </div>
    -->
</div>
