<div class="contentTemas">
    <div class="cuadroTemas">
        <mat-card>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-content>
                <div>
                    <ul class="cuatroTemas">
                        <li class="link"> 
                            <a routerLink="/dae/individual">INDIVIDUAL</a>
                        </li>
                        <li class="link"> 
                            <a routerLink="/dae/sujetos_colectivos">COLECTIVO</a>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


